In [1]:
import pandas as pd

In [2]:
headers = pd.read_csv("Desktop/Data Science/DBD/mnheaders.csv")

In [3]:
raw = pd.read_csv("Desktop/Data Science/DBD/mn.csv")

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (110,111,112,120) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
colnames = list(raw.columns)

# Renaming column headers

In [6]:
print(colnames)

['Unnamed: 0', 'HH1', 'HH2', 'LN', 'MWM1', 'MWM2', 'MWM4', 'MWM5', 'MWM6D', 'MWM6M', 'MWM6Y', 'MWM7', 'MWM8', 'MWM9', 'MWM10H', 'MWM10M', 'MWM11H', 'MWM11M', 'MWB1M', 'MWB1Y', 'MWB2', 'MWB3', 'MWB4', 'MWB5', 'MWB7', 'MMT2', 'MMT3', 'MMT4', 'MMT6', 'MMT7', 'MMT8', 'MMT9', 'MMT10', 'MMT11', 'MMT12', 'MMT13', 'MMT14', 'MCM1', 'MCM3', 'MCM4', 'MCM5A', 'MCM5B', 'MCM6', 'MCM7A', 'MCM7B', 'MCM8', 'MCM9A', 'MCM9B', 'MCM10', 'MCM11A', 'MCM11B', 'MCM12M', 'MCM12Y', 'MDV1A', 'MDV1B', 'MDV1C', 'MDV1D', 'MDV1E', 'MDV1F', 'MMA1', 'MMA3', 'MMA4', 'MMA5', 'MMA6', 'MMA7', 'MMA8M', 'MMA8Y', 'MMA9', 'MSB1', 'MSB2', 'MSB3U', 'MSB3N', 'MSB4', 'MSB5', 'MSB8', 'MSB9', 'MSB10', 'MSB13', 'MSB14', 'MSB15', 'MHA1', 'MHA2', 'MHA3', 'MHA4', 'MHA5', 'MHA6', 'MHA7', 'MHA8A', 'MHA8B', 'MHA8C', 'MHA9', 'MHA10', 'MHA11', 'MHA12', 'MHA24', 'MHA25', 'MHA26', 'MHA27', 'MMC1', 'MMC2', 'MMC3', 'MMC4', 'MTA1', 'MTA2', 'MTA3', 'MTA4', 'MTA5', 'MTA6', 'MTA7', 'MTA8A', 'MTA8B', 'MTA8C', 'MTA8D', 'MTA8E', 'MTA8X', 'MTA9', 'MTA10', 'MTA11', 'MTA12A', 'MTA12B', 'MTA12C', 'MTA12X', 'MTA13', 'MTA14', 'MTA15', 'MTA16', 'MTA17', 'TNLN', 'TN4', 'TN5', 'TN6', 'TN8', 'TN9', 'TN10', 'TN11', 'TN12_1', 'TN12_2', 'TN12_3', 'TN12_4', 'HH6', 'HH7', 'MWDOI', 'MWDOB', 'MWAGE', 'MWDOM', 'MWAGEM', 'MWDOBLC', 'MMSTATUS', 'MCEB', 'MCSURV', 'MCDEAD', 'mwelevel', 'mnweight', 'wscore', 'windex5', 'wscoreu', 'windex5u', 'wscorer', 'windex5r']

In [7]:
len(colnames)

159

In [8]:
header_name = list(headers["Name"])

In [9]:
print(header_name)

['HH1', 'HH2', 'LN', 'MWM1', 'MWM2', 'MWM4', 'MWM5', 'MWM6D', 'MWM6M', 'MWM6Y', 'MWM7', 'MWM8', 'MWM9', 'MWM10H', 'MWM10M', 'MWM11H', 'MWM11M', 'MWB1M', 'MWB1Y', 'MWB2', 'MWB3', 'MWB4', 'MWB5', 'MWB7', 'MMT2', 'MMT3', 'MMT4', 'MMT6', 'MMT7', 'MMT8', 'MMT9', 'MMT10', 'MMT11', 'MMT12', 'MMT13', 'MMT14', 'MCM1', 'MCM3', 'MCM4', 'MCM5A', 'MCM5B', 'MCM6', 'MCM7A', 'MCM7B', 'MCM8', 'MCM9A', 'MCM9B', 'MCM10', 'MCM11A', 'MCM11B', 'MCM12D', 'MCM12M', 'MCM12Y', 'MDV1A', 'MDV1B', 'MDV1C', 'MDV1D', 'MDV1E', 'MMA1', 'MMA2', 'MMA3', 'MMA4', 'MMA5', 'MMA6', 'MMA7', 'MMA8M', 'MMA8Y', 'MMA9', 'MSB1', 'MSB2', 'MSB3U', 'MSB3N', 'MSB4', 'MSB5', 'MSB7', 'MSB8', 'MSB9', 'MSB10', 'MSB12', 'MSB13', 'MSB14', 'MSB15', 'MHA1', 'MHA2', 'MHA3', 'MHA4', 'MHA5', 'MHA6', 'MHA7', 'MHA8A', 'MHA8B', 'MHA8C', 'MHA9', 'MHA10', 'MHA11', 'MHA12', 'MHA24', 'MHA25', 'MHA26', 'MHA27', 'MTA1', 'MTA2', 'MTA3', 'MTA4', 'MTA5', 'MTA6', 'MTA7', 'MTA8A', 'MTA8B', 'MTA8C', 'MTA8D', 'MTA8X', 'MTA9', 'MTA10', 'MTA11', 'MTA12A', 'MTA12B', 'MTA12C', 'MTA12X', 'MTA13', 'MTA14', 'MTA15', 'MTA16', 'MTA17', 'MLS2', 'MLS3', 'MLS4', 'MLS5', 'MLS6', 'MLS7', 'MLS8', 'MLS9', 'MLS10', 'MLS11', 'MLS12', 'MLS13', 'MLS14', 'MLS15', 'MHE1', 'MHE2', 'MHE3', 'MHE4', 'MHE5', 'MHE6', 'MHE7', 'MHE8', 'MHE9', 'MHE10', 'MHE11', 'DU1', 'DU2', 'DU3', 'DU4D', 'DU4M', 'DU4Y', 'DU6', 'DU7', 'DU9', 'DU10', 'DU11', 'DU12', 'DU13', 'DU14A', 'DU14B', 'DU14C', 'DU14D', 'DU14E', 'DU14F', 'DU14G', 'DU14H', 'HH6', 'HH7', 'HH7A', 'MWDOI', 'MWDOB', 'MWAGE', 'MWDOM', 'MWAGEM', 'MWDOBFC', 'MWDOBLC', 'MMSTATUS', 'MCEB', 'MCSURV', 'MCDEAD', 'MMC1', 'MMC2', 'MMC3', 'MMC4', 'TNLN', 'TN4', 'TN5', 'TN6', 'TN8', 'TN9', 'TN10', 'TN11', 'TN12_1', 'TN12_2', 'TN12_3', 'TN12_4', 'TN2', 'packet', 'mmelevel', 'language', 'mmweight', 'wscore', 'windex5', 'PSU', 'strata']

In [10]:
len(header_name)

209

In [11]:
# Forming a dictionary to match the current headers to a more descriptive name
table = pd.Series(headers.Label.values,index=headers.Name).to_dict()

In [12]:
table

{'HH1': 'Cluster number',
 'HH2': 'Household number',
 'LN': 'Line number',
 'MWM1': 'Cluster number',
 'MWM2': 'Household number',
 'MWM4': "Man's line number",
 'MWM5': 'Interviewer number',
 'MWM6D': 'Day of interview',
 'MWM6M': 'Month of interview',
 'MWM6Y': 'Year of interview',
 'MWM7': "Result of man's interview",
 'MWM8': 'Field editor',
 'MWM9': 'Data entry clerk',
 'MWM10H': 'Start of interview - Hour',
 'MWM10M': 'Start of interview - Minutes',
 'MWM11H': 'End of interview - Hour',
 'MWM11M': 'End of interview - Minutes',
 'MWB1M': 'Month of birth of man',
 'MWB1Y': 'Year of birth of man',
 'MWB2': 'Age of man',
 'MWB3': 'Ever attended school',
 'MWB4': 'Highest level of school attended',
 'MWB5': 'Highest grade completed at that level',
 'MWB7': 'Can read part of the sentence',
 'MMT2': 'Frequency of reading newspaper or magazine',
 'MMT3': 'Frequency of listening to the radio',
 'MMT4': 'Frequency of watching TV',
 'MMT6': 'Ever used a computer',
 'MMT7': 'Computer usage in the last 12 months',
 'MMT8': 'Frequency of computer usage in the last month',
 'MMT9': 'Ever used internet',
 'MMT10': 'Internet usage in the last 12 months',
 'MMT11': 'Frequency of Internet usage in the past month',
 'MMT12': 'Ever used a mobile or non-mobile phone',
 'MMT13': 'Mobile or non-mobile phone usage in the last 12 months',
 'MMT14': 'Frequency of mobile or non-mobile usage in the past month',
 'MCM1': 'Ever fathered any children with any women',
 'MCM3': 'Age when first child was born',
 'MCM4': 'Any sons or daughters living with you',
 'MCM5A': 'Sons living with you',
 'MCM5B': 'Daughters living with you',
 'MCM6': 'Any sons or daughters not living with you',
 'MCM7A': 'Sons living elsewhere',
 'MCM7B': 'Daughters living elsewhere',
 'MCM8': 'Ever had child who later died',
 'MCM9A': 'Boys dead',
 'MCM9B': 'Girls dead',
 'MCM10': 'Children ever born',
 'MCM11A': 'Same biological mother',
 'MCM11B': 'Number of women respondent fathered children with',
 'MCM12D': 'Day of last birth',
 'MCM12M': 'Month of last birth',
 'MCM12Y': 'Year of last birth',
 'MDV1A': 'If she goes out with out telling husband: wife beating justified',
 'MDV1B': 'If she neglects the children: wife beating justified',
 'MDV1C': 'If she argues with husband: wife beating justified',
 'MDV1D': 'If she refuses sex with husband: wife beating justified',
 'MDV1E': 'If she burns the food: wife beating justified',
 'MMA1': 'Currently married or living with a man',
 'MMA2': 'Age of wife/partner',
 'MMA3': 'Haveing other wives or liveing with other women as if you are married',
 'MMA4': 'How many other wives / partners living with you',
 'MMA5': 'Ever married or lived with a woman',
 'MMA6': 'Marital status',
 'MMA7': 'Married or lived with a woman once or more than once',
 'MMA8M': 'Month of first union',
 'MMA8Y': 'Year of first union',
 'MMA9': 'Age at first union',
 'MSB1': 'Age at first sexual intercourse',
 'MSB2': 'Condom used during first sexual intercourse',
 'MSB3U': 'Time since last sexual intercourse (unit)',
 'MSB3N': 'Time since last sexual intercourse (number)',
 'MSB4': 'Condom used at last sexual intercourse',
 'MSB5': 'Relationship to last sexual partner',
 'MSB7': 'Age of last sexual partner',
 'MSB8': 'Sex with any other person in the last 12 month',
 'MSB9': 'Condom used with prior sexual partner',
 'MSB10': 'Relationship to prior sexual partner',
 'MSB12': 'Age of prior sexual partner',
 'MSB13': 'Sex with any other man in the last 12 months',
 'MSB14': 'Number of sex partners in last 12 months',
 'MSB15': 'Number of sex partners in lifetime',
 'MHA1': 'Ever heard of AIDS',
 'MHA2': 'Can avoid AIDS virus by having one uninfected partner',
 'MHA3': 'Can get AIDS virus through supernatural means',
 'MHA4': 'Can avoid AIDS virus by using a condom correctly every time',
 'MHA5': 'Can get AIDS virus from mosquito bites',
 'MHA6': 'Can get AIDS virus by sharing food with a person who has AIDS',
 'MHA7': 'Healthy-looking person may have AIDS virus',
 'MHA8A': 'AIDS virus from mother to child during pregnancy',
 'MHA8B': 'AIDS virus from mother to child during delivery',
 'MHA8C': 'AIDS virus from mother to child through breastfeeding',
 'MHA9': 'Should female teacher with AIDS virus be allowed to teach in school',
 'MHA10': 'Would buy fresh vegetables from shopkeeper with AIDS virus',
 'MHA11': 'If HH member became infected with AIDS virus, would want it to remain a secret',
 'MHA12': 'Willing to care for person with AIDS in household',
 'MHA24': 'Ever been tested for AIDS virus',
 'MHA25': 'Most recent time of testing for AIDS virus',
 'MHA26': 'Received results of AIDS virus test',
 'MHA27': 'Know a place to get AIDS virus test',
 'MTA1': 'Ever tried cigarette smoking',
 'MTA2': 'Age when cigarette was smoked for the first time',
 'MTA3': 'Currently smoking cigarettes',
 'MTA4': 'Number of cigarettes smoked in the last 24 hours',
 'MTA5': 'Number of days when cigarettes were smoked in past month',
 'MTA6': 'Ever tried any smoked tobacco products other than cigarettes',
 'MTA7': 'Used any smoked tobacco products during the last month',
 'MTA8A': 'Type of smoked tobacco product: Cigars',
 'MTA8B': 'Type of smoked tobacco product: Water pipe',
 'MTA8C': 'Type of smoked tobacco product: Cigarillos',
 'MTA8D': 'Type of smoked tobacco product: Pipe',
 'MTA8X': 'Type of smoked tobacco product: Other',
 'MTA9': 'Number of days when tobacco products where smoked in past month',
 'MTA10': 'Ever tried any form of smokeless tobacco products',
 'MTA11': 'Used any smokeless tobacco products during the last month',
 'MTA12A': 'Type of smokeless tobacco product used: Chewing tobacco',
 'MTA12B': 'Type of smokeless tobacco product used: Snuff',
 'MTA12C': 'Type of smokeless tobacco product used: Dip',
 'MTA12X': 'Type of smokeless tobacco product used: Other',
 'MTA13': 'Number of days when smokeless tobacco products where used in past month',
 'MTA14': 'Ever drunk alcohol',
 'MTA15': 'Age when alcohol was used for the first time',
 'MTA16': 'Number of days when at least one drink of alcohol was used in past month',
 'MTA17': 'Number of drinks usually consumed',
 'MLS2': 'Estimation of overall happiness',
 'MLS3': 'Satisfaction with family life',
 'MLS4': 'Satisfaction with friendships',
 'MLS5': 'School attendance during the current school year',
 'MLS6': 'Satisfaction with school',
 'MLS7': 'Satisfaction with current job',
 'MLS8': 'Satisfaction with health',
 'MLS9': 'Satisfaction with current residence',
 'MLS10': 'Satisfaction with treatment by other people',
 'MLS11': 'Satisfaction with appearance',
 'MLS12': 'Satisfaction with life overall',
 'MLS13': 'Satisfaction with current income',
 'MLS14': 'Life satisfaction in comparison with last year',
 'MLS15': 'Life satisfaction expectation one year from now',
 'MHE1': 'Has a health card',
 'MHE2': 'Has health insurance',
 'MHE3': 'Use of health care services at the health centre',
 'MHE4': 'Provided with health care services at the nearest health centre free of charge',
 'MHE5': 'Use of health services at the hospital',
 'MHE6': 'Provided with health care services at the nearest hospital free of charge',
 'MHE7': 'Use of emergency health care services',
 'MHE8': 'Provided with emergency health care services free of charge',
 'MHE9': 'Paying for all necessary health care services and medication',
 'MHE10': 'Paying for only vital/urgently needed health care services and medication',
 'MHE11': 'Can afford the medication without one-off financial aid',
 'DU1': 'Cluster number',
 'DU2': 'Household number',
 'DU3': 'Interviewer number',
 'DU4D': 'Day of interview',
 'DU4M': 'Month of interview',
 'DU4Y': 'Year of interview',
 'DU6': "Woman's line number",
 'DU7': "Man's line number",
 'DU9': 'Result of interview',
 'DU10': 'Result of interview',
 'DU11': 'Field editor',
 'DU12': 'Data entry clerk',
 'DU13': 'Have you ever used any drugs (narcotic substances) in your life?',
 'DU14A': 'Cannabis (marijuana and/or hashish)',
 'DU14B': 'Ecstasy',
 'DU14C': 'Amphetamine and/or methamphetamine',
 'DU14D': 'Cocaine or crack',
 'DU14E': 'Heroin',
 'DU14F': 'LSD (trip / acid)',
 'DU14G': 'Magic mushrooms',
 'DU14H': 'Inhalants (e.g. glue)',
 'HH6': 'Area',
 'HH7': 'Region',
 'HH7A': 'Region',
 'MWDOI': 'Date of interview women (CMC)',
 'MWDOB': 'Date of birth of woman (CMC)',
 'MWAGE': 'Age',
 'MWDOM': 'Date of marriage (CMC)',
 'MWAGEM': 'Age at first marriage/union',
 'MWDOBFC': 'Date of birth of first child (CMC)',
 'MWDOBLC': 'Date of birth of last child (CMC)',
 'MMSTATUS': 'Marital/Union status',
 'MCEB': 'Children ever born',
 'MCSURV': 'Children surviving',
 'MCDEAD': 'Children dead',
 'MMC1': 'Respondent is circumcised',
 'MMC2': 'Age at circumcision',
 'MMC3': 'Person performing circumcision',
 'MMC4': 'Place of circumcision',
 'TNLN': 'Net number',
 'TN4': 'Mosquito net observed',
 'TN5': 'Brand/type of observed net',
 'TN6': 'Months ago net obtained',
 'TN8': 'Net treated with an insecticide when obtained',
 'TN9': 'Net soaked or dipped since obtained',
 'TN10': 'Months ago net soaked or dipped',
 'TN11': 'Persons slept under mosquito net last night',
 'TN12_1': 'Person 1 who slept under net',
 'TN12_2': 'Person 2 who slept under net',
 'TN12_3': 'Person 3 who slept under net',
 'TN12_4': 'Person 4 who slept under net',
 'TN2': 'Number of mosquito nets',
 'packet': 'Packet number',
 'mmelevel': 'Education',
 'language': 'Language of household head',
 'mmweight': "Men's sample weight",
 'wscore': 'Wealth index score',
 'windex5': 'Wealth index quintiles',
 'PSU': 'Primary sampling unit',
 'strata': 'Stratum'}

In [13]:
raw.rename(columns=table,inplace=True)

In [14]:
raw.head()

,Unnamed: 0,Cluster number,Household number,Line number,Cluster number,Household number,Man's line number,Interviewer number,Day of interview,Month of interview,Year of interview,Result of man's interview,Field editor,Data entry clerk,Start of interview - Hour,Start of interview - Minutes,End of interview - Hour,End of interview - Minutes,Month of birth of man,Year of birth of man,Age of man,Ever attended school,Highest level of school attended,Highest grade completed at that level,Can read part of the sentence,Frequency of reading newspaper or magazine,Frequency of listening to the radio,Frequency of watching TV,Ever used a computer,Computer usage in the last 12 months,Frequency of computer usage in the last month,Ever used internet,Internet usage in the last 12 months,Frequency of Internet usage in the past month,Ever used a mobile or non-mobile phone,Mobile or non-mobile phone usage in the last 12 months,Frequency of mobile or non-mobile usage in the past month,Ever fathered any children with any women,Age when first child was born,Any sons or daughters living with you,Sons living with you,Daughters living with you,Any sons or daughters not living with you,Sons living elsewhere,Daughters living elsewhere,Ever had child who later died,Boys dead,Girls dead,Children ever born,Same biological mother,Number of women respondent fathered children with,Month of last birth,Year of last birth,If she goes out with out telling husband: wife beating justified,If she neglects the children: wife beating justified,If she argues with husband: wife beating justified,If she refuses sex with husband: wife beating justified,If she burns the food: wife beating justified,MDV1F,Currently married or living with a man,Haveing other wives or liveing with other women as if you are married,How many other wives / partners living with you,Ever married or lived with a woman,Marital status,Married or lived with a woman once or more than once,Month of first union,Year of first union,Age at first union,Age at first sexual intercourse,Condom used during first sexual intercourse,Time since last sexual intercourse (unit),Time since last sexual intercourse (number),Condom used at last sexual intercourse,Relationship to last sexual partner,Sex with any other person in the last 12 month,Condom used with prior sexual partner,Relationship to prior sexual partner,Sex with any other man in the last 12 months,Number of sex partners in last 12 months,Number of sex partners in lifetime,Ever heard of AIDS,Can avoid AIDS virus by having one uninfected partner,Can get AIDS virus through supernatural means,Can avoid AIDS virus by using a condom correctly every time,Can get AIDS virus from mosquito bites,Can get AIDS virus by sharing food with a person who has AIDS,Healthy-looking person may have AIDS virus,AIDS virus from mother to child during pregnancy,AIDS virus from mother to child during delivery,AIDS virus from mother to child through breastfeeding,Should female teacher with AIDS virus be allowed to teach in school,Would buy fresh vegetables from shopkeeper with AIDS virus,"If HH member became infected with AIDS virus, would want it to remain a secret",Willing to care for person with AIDS in household,Ever been tested for AIDS virus,Most recent time of testing for AIDS virus,Received results of AIDS virus test,Know a place to get AIDS virus test,Respondent is circumcised,Age at circumcision,Person performing circumcision,Place of circumcision,Ever tried cigarette smoking,Age when cigarette was smoked for the first time,Currently smoking cigarettes,Number of cigarettes smoked in the last 24 hours,Number of days when cigarettes were smoked in past month,Ever tried any smoked tobacco products other than cigarettes,Used any smoked tobacco products during the last month,Type of smoked tobacco product: Cigars,Type of smoked tobacco product: Water pipe,Type of smoked tobacco product: Cigarillos,Type of smoked tobacco product: Pipe,MTA8E,Type of smoked tobacco product: Other,Number of days when tobacco products where smoked in past month,Ever tried any form of smokeless tobacco products,Used any smokeless tobacco products during the last month,Type of smokeless tobacco product used: Chewing tobacco,Type of smokeless tobacco product used: Snuff,Type of smokeless tobacco product used: Dip,Type of smokeless tobacco product used: Other,Number of days when smokeless tobacco products where used in past month,Ever drunk alcohol,Age when alcohol was used for the first time,Number of days when at least one drink of alcohol was used in past month,Number of drinks usually consumed,Net number,Mosquito net observed,Brand/type of observed net,Months ago net obtained,Net treated with an insecticide when obtained,Net soaked or dipped since obtained,Months ago net soaked or dipped,Persons slept under mosquito net last night,Person 1 who slept under net,Person 2 who slept under net,Person 3 who slept under net,Person 4 who slept under net,Area,Region,Date of interview women (CMC),Date of birth of woman (CMC),Age,Date of marriage (CMC),Age at first marriage/union,Date of birth of last child (CMC),Marital/Union status,Children ever born,Children surviving,Children dead,mwelevel,mnweight,Wealth index score,Wealth index quintiles,wscoreu,windex5u,wscorer,windex5r
0,1,1,17,1,1,17,1,14,7,4,2014,Completed,2,20,17.0,59.0,18.0,7.0,5.0,1984.0,29.0,Yes,Higher,31.0,NaN,Almost every day,At least once a week,Less than once a week,Yes,Yes,Almost every day,Yes,Yes,Almost every day,Yes,Yes,Almost every day,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,0.0,NaN,NaN,NaN,NaN,No,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,NaN,NaN,Only once,9.0,2013.0,NaN,20.0,Yes,Days ago,0.0,No,Wife,No,NaN,NaN,NaN,NaN,5.0,Yes,Yes,No,Yes,No,No,Yes,DK,Yes,DK,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,16.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,1013.0,25-29,1365.0,29.0,NaN,Currently married/in union,0.0,0.0,0.0,Higher,0.403797,1.603670,5,1.272552,5.0,NaN,NaN
1,2,1,20,1,1,20,1,14,7,4,2014,Completed,2,20,17.0,32.0,17.0,42.0,5.0,1976.0,37.0,Yes,Higher,31.0,NaN,At least once a week,Not at all,Almost every day,Yes,Yes,Almost every day,Yes,Yes,Almost every day,Yes,Yes,Almost every day,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,0.0,NaN,NaN,NaN,NaN,No,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,NaN,NaN,Only once,2.0,2014.0,NaN,37.0,No,Days ago,0.0,No,Wife,No,NaN,NaN,NaN,NaN,1.0,Yes,Yes,No,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes,Yes,No,Yes,Less than 12 months ago,Yes,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,917.0,35-39,1370.0,37.0,NaN,Currently married/in union,0.0,0.0,0.0,Higher,0.403797,1.543277,5,1.089026,5.0,NaN,NaN
2,3,2,1,1,2,1,1,9,8,4,2014,Completed,1,40,10.0,37.0,10.0,52.0,2.0,1973.0,41.0,Yes,Primary,17.0,Able to read whole sentence,Not at all,Almost every day,Less than once a week,No,NaN,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,21.0,Yes,1.0,1.0,Yes,1.0,0.0,No,NaN,NaN,3.0,No,2.0,5.0,2012.0,No,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,NaN,NaN,More than once,8.0,1991.0,NaN,20.0,No,Days ago,0.0,Yes,Wife,No,NaN,NaN,NaN,NaN,5.0,Yes,Yes,No,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Yes,Yes,2 or more years ago,Yes,NaN,No,NaN,NaN,NaN,Yes,18.0,Yes,10.0,30.0,Yes,Yes,NaN,NaN,NaN,NaN,Rolled tobacco,NaN,7.0,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,19.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,878.0,40-44,1100.0,18.0,NaN,Currently married/in union,3.0,3.0,0.0,Primary,1.031926,0.878635,4,-0.930721,1.0,NaN,NaN
3,4,2,1,5,2,1,5,9,12,4,2014,Not at home,1,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0,0.000000,0.0,0.0,0.0
4,5,2,1,8,2,1,8,9,8,4,2014,Completed,1,40,10.0,53.0,11.0,10.0,2.0,1993.0,21.0,Yes,Secondary,24.0,NaN,Less than once a week,At least once a week,Less than once a week,No,NaN,NaN,No,NaN,NaN,Yes,Yes,Almost every day,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,0.0,NaN,NaN,NaN,NaN,No,No,No,No,No,No,"No, not in union",NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,19.0,Yes,Months ago,7.0,Yes,Girlfriend,No,NaN,NaN,NaN,NaN,3.0,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,12-23 months ago,Yes,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,20.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,1118.0,20-24,NaN,NaN,NaN,Never married/in union,0.0,0.0,0.0,Secondary,1.031926,0.878635,4,-0.930721,1.0,NaN,NaN

In [15]:
# Remove the first column
raw = raw.drop(raw.columns[0],axis=1)

In [16]:
raw.head()

,Cluster number,Household number,Line number,Cluster number,Household number,Man's line number,Interviewer number,Day of interview,Month of interview,Year of interview,Result of man's interview,Field editor,Data entry clerk,Start of interview - Hour,Start of interview - Minutes,End of interview - Hour,End of interview - Minutes,Month of birth of man,Year of birth of man,Age of man,Ever attended school,Highest level of school attended,Highest grade completed at that level,Can read part of the sentence,Frequency of reading newspaper or magazine,Frequency of listening to the radio,Frequency of watching TV,Ever used a computer,Computer usage in the last 12 months,Frequency of computer usage in the last month,Ever used internet,Internet usage in the last 12 months,Frequency of Internet usage in the past month,Ever used a mobile or non-mobile phone,Mobile or non-mobile phone usage in the last 12 months,Frequency of mobile or non-mobile usage in the past month,Ever fathered any children with any women,Age when first child was born,Any sons or daughters living with you,Sons living with you,Daughters living with you,Any sons or daughters not living with you,Sons living elsewhere,Daughters living elsewhere,Ever had child who later died,Boys dead,Girls dead,Children ever born,Same biological mother,Number of women respondent fathered children with,Month of last birth,Year of last birth,If she goes out with out telling husband: wife beating justified,If she neglects the children: wife beating justified,If she argues with husband: wife beating justified,If she refuses sex with husband: wife beating justified,If she burns the food: wife beating justified,MDV1F,Currently married or living with a man,Haveing other wives or liveing with other women as if you are married,How many other wives / partners living with you,Ever married or lived with a woman,Marital status,Married or lived with a woman once or more than once,Month of first union,Year of first union,Age at first union,Age at first sexual intercourse,Condom used during first sexual intercourse,Time since last sexual intercourse (unit),Time since last sexual intercourse (number),Condom used at last sexual intercourse,Relationship to last sexual partner,Sex with any other person in the last 12 month,Condom used with prior sexual partner,Relationship to prior sexual partner,Sex with any other man in the last 12 months,Number of sex partners in last 12 months,Number of sex partners in lifetime,Ever heard of AIDS,Can avoid AIDS virus by having one uninfected partner,Can get AIDS virus through supernatural means,Can avoid AIDS virus by using a condom correctly every time,Can get AIDS virus from mosquito bites,Can get AIDS virus by sharing food with a person who has AIDS,Healthy-looking person may have AIDS virus,AIDS virus from mother to child during pregnancy,AIDS virus from mother to child during delivery,AIDS virus from mother to child through breastfeeding,Should female teacher with AIDS virus be allowed to teach in school,Would buy fresh vegetables from shopkeeper with AIDS virus,"If HH member became infected with AIDS virus, would want it to remain a secret",Willing to care for person with AIDS in household,Ever been tested for AIDS virus,Most recent time of testing for AIDS virus,Received results of AIDS virus test,Know a place to get AIDS virus test,Respondent is circumcised,Age at circumcision,Person performing circumcision,Place of circumcision,Ever tried cigarette smoking,Age when cigarette was smoked for the first time,Currently smoking cigarettes,Number of cigarettes smoked in the last 24 hours,Number of days when cigarettes were smoked in past month,Ever tried any smoked tobacco products other than cigarettes,Used any smoked tobacco products during the last month,Type of smoked tobacco product: Cigars,Type of smoked tobacco product: Water pipe,Type of smoked tobacco product: Cigarillos,Type of smoked tobacco product: Pipe,MTA8E,Type of smoked tobacco product: Other,Number of days when tobacco products where smoked in past month,Ever tried any form of smokeless tobacco products,Used any smokeless tobacco products during the last month,Type of smokeless tobacco product used: Chewing tobacco,Type of smokeless tobacco product used: Snuff,Type of smokeless tobacco product used: Dip,Type of smokeless tobacco product used: Other,Number of days when smokeless tobacco products where used in past month,Ever drunk alcohol,Age when alcohol was used for the first time,Number of days when at least one drink of alcohol was used in past month,Number of drinks usually consumed,Net number,Mosquito net observed,Brand/type of observed net,Months ago net obtained,Net treated with an insecticide when obtained,Net soaked or dipped since obtained,Months ago net soaked or dipped,Persons slept under mosquito net last night,Person 1 who slept under net,Person 2 who slept under net,Person 3 who slept under net,Person 4 who slept under net,Area,Region,Date of interview women (CMC),Date of birth of woman (CMC),Age,Date of marriage (CMC),Age at first marriage/union,Date of birth of last child (CMC),Marital/Union status,Children ever born,Children surviving,Children dead,mwelevel,mnweight,Wealth index score,Wealth index quintiles,wscoreu,windex5u,wscorer,windex5r
0,1,17,1,1,17,1,14,7,4,2014,Completed,2,20,17.0,59.0,18.0,7.0,5.0,1984.0,29.0,Yes,Higher,31.0,NaN,Almost every day,At least once a week,Less than once a week,Yes,Yes,Almost every day,Yes,Yes,Almost every day,Yes,Yes,Almost every day,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,0.0,NaN,NaN,NaN,NaN,No,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,NaN,NaN,Only once,9.0,2013.0,NaN,20.0,Yes,Days ago,0.0,No,Wife,No,NaN,NaN,NaN,NaN,5.0,Yes,Yes,No,Yes,No,No,Yes,DK,Yes,DK,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,16.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,1013.0,25-29,1365.0,29.0,NaN,Currently married/in union,0.0,0.0,0.0,Higher,0.403797,1.603670,5,1.272552,5.0,NaN,NaN
1,1,20,1,1,20,1,14,7,4,2014,Completed,2,20,17.0,32.0,17.0,42.0,5.0,1976.0,37.0,Yes,Higher,31.0,NaN,At least once a week,Not at all,Almost every day,Yes,Yes,Almost every day,Yes,Yes,Almost every day,Yes,Yes,Almost every day,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,0.0,NaN,NaN,NaN,NaN,No,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,NaN,NaN,Only once,2.0,2014.0,NaN,37.0,No,Days ago,0.0,No,Wife,No,NaN,NaN,NaN,NaN,1.0,Yes,Yes,No,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes,Yes,No,Yes,Less than 12 months ago,Yes,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,917.0,35-39,1370.0,37.0,NaN,Currently married/in union,0.0,0.0,0.0,Higher,0.403797,1.543277,5,1.089026,5.0,NaN,NaN
2,2,1,1,2,1,1,9,8,4,2014,Completed,1,40,10.0,37.0,10.0,52.0,2.0,1973.0,41.0,Yes,Primary,17.0,Able to read whole sentence,Not at all,Almost every day,Less than once a week,No,NaN,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,21.0,Yes,1.0,1.0,Yes,1.0,0.0,No,NaN,NaN,3.0,No,2.0,5.0,2012.0,No,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,NaN,NaN,More than once,8.0,1991.0,NaN,20.0,No,Days ago,0.0,Yes,Wife,No,NaN,NaN,NaN,NaN,5.0,Yes,Yes,No,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Yes,Yes,2 or more years ago,Yes,NaN,No,NaN,NaN,NaN,Yes,18.0,Yes,10.0,30.0,Yes,Yes,NaN,NaN,NaN,NaN,Rolled tobacco,NaN,7.0,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,19.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,878.0,40-44,1100.0,18.0,NaN,Currently married/in union,3.0,3.0,0.0,Primary,1.031926,0.878635,4,-0.930721,1.0,NaN,NaN
3,2,1,5,2,1,5,9,12,4,2014,Not at home,1,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0,0.000000,0.0,0.0,0.0
4,2,1,8,2,1,8,9,8,4,2014,Completed,1,40,10.0,53.0,11.0,10.0,2.0,1993.0,21.0,Yes,Secondary,24.0,NaN,Less than once a week,At least once a week,Less than once a week,No,NaN,NaN,No,NaN,NaN,Yes,Yes,Almost every day,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,0.0,NaN,NaN,NaN,NaN,No,No,No,No,No,No,"No, not in union",NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,19.0,Yes,Months ago,7.0,Yes,Girlfriend,No,NaN,NaN,NaN,NaN,3.0,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,12-23 months ago,Yes,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,20.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,1118.0,20-24,NaN,NaN,NaN,Never married/in union,0.0,0.0,0.0,Secondary,1.031926,0.878635,4,-0.930721,1.0,NaN,NaN

In [17]:
list(raw.columns)

['Cluster number',
 'Household number',
 'Line number',
 'Cluster number',
 'Household number',
 "Man's line number",
 'Interviewer number',
 'Day of interview',
 'Month of interview',
 'Year of interview',
 "Result of man's interview",
 'Field editor',
 'Data entry clerk',
 'Start of interview - Hour',
 'Start of interview - Minutes',
 'End of interview - Hour',
 'End of interview - Minutes',
 'Month of birth of man',
 'Year of birth of man',
 'Age of man',
 'Ever attended school',
 'Highest level of school attended',
 'Highest grade completed at that level',
 'Can read part of the sentence',
 'Frequency of reading newspaper or magazine',
 'Frequency of listening to the radio',
 'Frequency of watching TV',
 'Ever used a computer',
 'Computer usage in the last 12 months',
 'Frequency of computer usage in the last month',
 'Ever used internet',
 'Internet usage in the last 12 months',
 'Frequency of Internet usage in the past month',
 'Ever used a mobile or non-mobile phone',
 'Mobile or non-mobile phone usage in the last 12 months',
 'Frequency of mobile or non-mobile usage in the past month',
 'Ever fathered any children with any women',
 'Age when first child was born',
 'Any sons or daughters living with you',
 'Sons living with you',
 'Daughters living with you',
 'Any sons or daughters not living with you',
 'Sons living elsewhere',
 'Daughters living elsewhere',
 'Ever had child who later died',
 'Boys dead',
 'Girls dead',
 'Children ever born',
 'Same biological mother',
 'Number of women respondent fathered children with',
 'Month of last birth',
 'Year of last birth',
 'If she goes out with out telling husband: wife beating justified',
 'If she neglects the children: wife beating justified',
 'If she argues with husband: wife beating justified',
 'If she refuses sex with husband: wife beating justified',
 'If she burns the food: wife beating justified',
 'MDV1F',
 'Currently married or living with a man',
 'Haveing other wives or liveing with other women as if you are married',
 'How many other wives / partners living with you',
 'Ever married or lived with a woman',
 'Marital status',
 'Married or lived with a woman once or more than once',
 'Month of first union',
 'Year of first union',
 'Age at first union',
 'Age at first sexual intercourse',
 'Condom used during first sexual intercourse',
 'Time since last sexual intercourse (unit)',
 'Time since last sexual intercourse (number)',
 'Condom used at last sexual intercourse',
 'Relationship to last sexual partner',
 'Sex with any other person in the last 12 month',
 'Condom used with prior sexual partner',
 'Relationship to prior sexual partner',
 'Sex with any other man in the last 12 months',
 'Number of sex partners in last 12 months',
 'Number of sex partners in lifetime',
 'Ever heard of AIDS',
 'Can avoid AIDS virus by having one uninfected partner',
 'Can get AIDS virus through supernatural means',
 'Can avoid AIDS virus by using a condom correctly every time',
 'Can get AIDS virus from mosquito bites',
 'Can get AIDS virus by sharing food with a person who has AIDS',
 'Healthy-looking person may have AIDS virus',
 'AIDS virus from mother to child during pregnancy',
 'AIDS virus from mother to child during delivery',
 'AIDS virus from mother to child through breastfeeding',
 'Should female teacher with AIDS virus be allowed to teach in school',
 'Would buy fresh vegetables from shopkeeper with AIDS virus',
 'If HH member became infected with AIDS virus, would want it to remain a secret',
 'Willing to care for person with AIDS in household',
 'Ever been tested for AIDS virus',
 'Most recent time of testing for AIDS virus',
 'Received results of AIDS virus test',
 'Know a place to get AIDS virus test',
 'Respondent is circumcised',
 'Age at circumcision',
 'Person performing circumcision',
 'Place of circumcision',
 'Ever tried cigarette smoking',
 'Age when cigarette was smoked for the first time',
 'Currently smoking cigarettes',
 'Number of cigarettes smoked in the last 24 hours',
 'Number of days when cigarettes were smoked in past month',
 'Ever tried any smoked tobacco products other than cigarettes',
 'Used any smoked tobacco products during the last month',
 'Type of smoked tobacco product: Cigars',
 'Type of smoked tobacco product: Water pipe',
 'Type of smoked tobacco product: Cigarillos',
 'Type of smoked tobacco product: Pipe',
 'MTA8E',
 'Type of smoked tobacco product: Other',
 'Number of days when tobacco products where smoked in past month',
 'Ever tried any form of smokeless tobacco products',
 'Used any smokeless tobacco products during the last month',
 'Type of smokeless tobacco product used: Chewing tobacco',
 'Type of smokeless tobacco product used: Snuff',
 'Type of smokeless tobacco product used: Dip',
 'Type of smokeless tobacco product used: Other',
 'Number of days when smokeless tobacco products where used in past month',
 'Ever drunk alcohol',
 'Age when alcohol was used for the first time',
 'Number of days when at least one drink of alcohol was used in past month',
 'Number of drinks usually consumed',
 'Net number',
 'Mosquito net observed',
 'Brand/type of observed net',
 'Months ago net obtained',
 'Net treated with an insecticide when obtained',
 'Net soaked or dipped since obtained',
 'Months ago net soaked or dipped',
 'Persons slept under mosquito net last night',
 'Person 1 who slept under net',
 'Person 2 who slept under net',
 'Person 3 who slept under net',
 'Person 4 who slept under net',
 'Area',
 'Region',
 'Date of interview women (CMC)',
 'Date of birth of woman (CMC)',
 'Age',
 'Date of marriage (CMC)',
 'Age at first marriage/union',
 'Date of birth of last child (CMC)',
 'Marital/Union status',
 'Children ever born',
 'Children surviving',
 'Children dead',
 'mwelevel',
 'mnweight',
 'Wealth index score',
 'Wealth index quintiles',
 'wscoreu',
 'windex5u',
 'wscorer',
 'windex5r']

In [18]:
len(raw.columns)

158

Drop columns of unmatched names as we cannot be sure what they mean even after investigating the mnheaders.csv file

In [19]:
raw = raw.drop(["MDV1F", "MTA8E","mwelevel", "mnweight", "wscoreu", "windex5u", "wscorer", "windex5r"], axis = 1)

In [20]:
len(list(raw.columns))

150

In [21]:
raw.head()

,Cluster number,Household number,Line number,Cluster number,Household number,Man's line number,Interviewer number,Day of interview,Month of interview,Year of interview,Result of man's interview,Field editor,Data entry clerk,Start of interview - Hour,Start of interview - Minutes,End of interview - Hour,End of interview - Minutes,Month of birth of man,Year of birth of man,Age of man,Ever attended school,Highest level of school attended,Highest grade completed at that level,Can read part of the sentence,Frequency of reading newspaper or magazine,Frequency of listening to the radio,Frequency of watching TV,Ever used a computer,Computer usage in the last 12 months,Frequency of computer usage in the last month,Ever used internet,Internet usage in the last 12 months,Frequency of Internet usage in the past month,Ever used a mobile or non-mobile phone,Mobile or non-mobile phone usage in the last 12 months,Frequency of mobile or non-mobile usage in the past month,Ever fathered any children with any women,Age when first child was born,Any sons or daughters living with you,Sons living with you,Daughters living with you,Any sons or daughters not living with you,Sons living elsewhere,Daughters living elsewhere,Ever had child who later died,Boys dead,Girls dead,Children ever born,Same biological mother,Number of women respondent fathered children with,Month of last birth,Year of last birth,If she goes out with out telling husband: wife beating justified,If she neglects the children: wife beating justified,If she argues with husband: wife beating justified,If she refuses sex with husband: wife beating justified,If she burns the food: wife beating justified,Currently married or living with a man,Haveing other wives or liveing with other women as if you are married,How many other wives / partners living with you,Ever married or lived with a woman,Marital status,Married or lived with a woman once or more than once,Month of first union,Year of first union,Age at first union,Age at first sexual intercourse,Condom used during first sexual intercourse,Time since last sexual intercourse (unit),Time since last sexual intercourse (number),Condom used at last sexual intercourse,Relationship to last sexual partner,Sex with any other person in the last 12 month,Condom used with prior sexual partner,Relationship to prior sexual partner,Sex with any other man in the last 12 months,Number of sex partners in last 12 months,Number of sex partners in lifetime,Ever heard of AIDS,Can avoid AIDS virus by having one uninfected partner,Can get AIDS virus through supernatural means,Can avoid AIDS virus by using a condom correctly every time,Can get AIDS virus from mosquito bites,Can get AIDS virus by sharing food with a person who has AIDS,Healthy-looking person may have AIDS virus,AIDS virus from mother to child during pregnancy,AIDS virus from mother to child during delivery,AIDS virus from mother to child through breastfeeding,Should female teacher with AIDS virus be allowed to teach in school,Would buy fresh vegetables from shopkeeper with AIDS virus,"If HH member became infected with AIDS virus, would want it to remain a secret",Willing to care for person with AIDS in household,Ever been tested for AIDS virus,Most recent time of testing for AIDS virus,Received results of AIDS virus test,Know a place to get AIDS virus test,Respondent is circumcised,Age at circumcision,Person performing circumcision,Place of circumcision,Ever tried cigarette smoking,Age when cigarette was smoked for the first time,Currently smoking cigarettes,Number of cigarettes smoked in the last 24 hours,Number of days when cigarettes were smoked in past month,Ever tried any smoked tobacco products other than cigarettes,Used any smoked tobacco products during the last month,Type of smoked tobacco product: Cigars,Type of smoked tobacco product: Water pipe,Type of smoked tobacco product: Cigarillos,Type of smoked tobacco product: Pipe,Type of smoked tobacco product: Other,Number of days when tobacco products where smoked in past month,Ever tried any form of smokeless tobacco products,Used any smokeless tobacco products during the last month,Type of smokeless tobacco product used: Chewing tobacco,Type of smokeless tobacco product used: Snuff,Type of smokeless tobacco product used: Dip,Type of smokeless tobacco product used: Other,Number of days when smokeless tobacco products where used in past month,Ever drunk alcohol,Age when alcohol was used for the first time,Number of days when at least one drink of alcohol was used in past month,Number of drinks usually consumed,Net number,Mosquito net observed,Brand/type of observed net,Months ago net obtained,Net treated with an insecticide when obtained,Net soaked or dipped since obtained,Months ago net soaked or dipped,Persons slept under mosquito net last night,Person 1 who slept under net,Person 2 who slept under net,Person 3 who slept under net,Person 4 who slept under net,Area,Region,Date of interview women (CMC),Date of birth of woman (CMC),Age,Date of marriage (CMC),Age at first marriage/union,Date of birth of last child (CMC),Marital/Union status,Children ever born,Children surviving,Children dead,Wealth index score,Wealth index quintiles
0,1,17,1,1,17,1,14,7,4,2014,Completed,2,20,17.0,59.0,18.0,7.0,5.0,1984.0,29.0,Yes,Higher,31.0,NaN,Almost every day,At least once a week,Less than once a week,Yes,Yes,Almost every day,Yes,Yes,Almost every day,Yes,Yes,Almost every day,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,0.0,NaN,NaN,NaN,NaN,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,NaN,NaN,Only once,9.0,2013.0,NaN,20.0,Yes,Days ago,0.0,No,Wife,No,NaN,NaN,NaN,NaN,5.0,Yes,Yes,No,Yes,No,No,Yes,DK,Yes,DK,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,16.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,1013.0,25-29,1365.0,29.0,NaN,Currently married/in union,0.0,0.0,0.0,1.603670,5
1,1,20,1,1,20,1,14,7,4,2014,Completed,2,20,17.0,32.0,17.0,42.0,5.0,1976.0,37.0,Yes,Higher,31.0,NaN,At least once a week,Not at all,Almost every day,Yes,Yes,Almost every day,Yes,Yes,Almost every day,Yes,Yes,Almost every day,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,0.0,NaN,NaN,NaN,NaN,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,NaN,NaN,Only once,2.0,2014.0,NaN,37.0,No,Days ago,0.0,No,Wife,No,NaN,NaN,NaN,NaN,1.0,Yes,Yes,No,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes,Yes,No,Yes,Less than 12 months ago,Yes,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,917.0,35-39,1370.0,37.0,NaN,Currently married/in union,0.0,0.0,0.0,1.543277,5
2,2,1,1,2,1,1,9,8,4,2014,Completed,1,40,10.0,37.0,10.0,52.0,2.0,1973.0,41.0,Yes,Primary,17.0,Able to read whole sentence,Not at all,Almost every day,Less than once a week,No,NaN,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,21.0,Yes,1.0,1.0,Yes,1.0,0.0,No,NaN,NaN,3.0,No,2.0,5.0,2012.0,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,NaN,NaN,More than once,8.0,1991.0,NaN,20.0,No,Days ago,0.0,Yes,Wife,No,NaN,NaN,NaN,NaN,5.0,Yes,Yes,No,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Yes,Yes,2 or more years ago,Yes,NaN,No,NaN,NaN,NaN,Yes,18.0,Yes,10.0,30.0,Yes,Yes,NaN,NaN,NaN,NaN,NaN,7.0,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,19.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,878.0,40-44,1100.0,18.0,NaN,Currently married/in union,3.0,3.0,0.0,0.878635,4
3,2,1,5,2,1,5,9,12,4,2014,Not at home,1,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0
4,2,1,8,2,1,8,9,8,4,2014,Completed,1,40,10.0,53.0,11.0,10.0,2.0,1993.0,21.0,Yes,Secondary,24.0,NaN,Less than once a week,At least once a week,Less than once a week,No,NaN,NaN,No,NaN,NaN,Yes,Yes,Almost every day,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,0.0,NaN,NaN,NaN,NaN,No,No,No,No,No,"No, not in union",NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,19.0,Yes,Months ago,7.0,Yes,Girlfriend,No,NaN,NaN,NaN,NaN,3.0,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,12-23 months ago,Yes,NaN,No,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,20.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,1118.0,20-24,NaN,NaN,NaN,Never married/in union,0.0,0.0,0.0,0.878635,4

# Explore missing data

In [22]:
# Find out number of missing values in each column

missing = raw.isna().sum()
missing = missing.to_frame().reset_index()
missing = missing.rename(columns= {'index': 'col', 0: 'missing vals'})
missing

                                                   col  missing vals
0                                       Cluster number             0
1                                     Household number             0
2                                          Line number             0
3                                       Cluster number             0
4                                     Household number             0
5                                    Man's line number             0
6                                   Interviewer number             0
7                                     Day of interview             0
8                                   Month of interview             0
9                                    Year of interview             0
10                           Result of man's interview             0
11                                        Field editor             0
12                                    Data entry clerk             0
13                           Start of interview - Hour          1094
14                        Start of interview - Minutes          1094
15                             End of interview - Hour          1094
16                          End of interview - Minutes          1094
17                               Month of birth of man          1094
18                                Year of birth of man          1094
19                                          Age of man          1094
20                                Ever attended school          1094
21                    Highest level of school attended          1163
22               Highest grade completed at that level          1164
23                       Can read part of the sentence          6923
24          Frequency of reading newspaper or magazine          1731
25                 Frequency of listening to the radio          1094
26                            Frequency of watching TV          1094
27                                Ever used a computer          1094
28                Computer usage in the last 12 months          6763
29       Frequency of computer usage in the last month          7217
30                                  Ever used internet          1094
31                Internet usage in the last 12 months          6320
32       Frequency of Internet usage in the past month          6564
33              Ever used a mobile or non-mobile phone          1094
34   Mobile or non-mobile phone usage in the last 1...          1620
35   Frequency of mobile or non-mobile usage in the...          1850
36           Ever fathered any children with any women          1094
37                       Age when first child was born          4668
38               Any sons or daughters living with you          4668
39                                Sons living with you          5581
40                           Daughters living with you          5581
41           Any sons or daughters not living with you          4668
42                               Sons living elsewhere          6738
43                          Daughters living elsewhere          6738
44                       Ever had child who later died          1094
45                                           Boys dead          8126
46                                          Girls dead          8126
47                                  Children ever born          1094
48                              Same biological mother          4657
49   Number of women respondent fathered children with          7849
50                                 Month of last birth          4657
51                                  Year of last birth          4657
52   If she goes out with out telling husband: wife...          1094
53   If she neglects the children: wife beating jus...          1094
54   If she argues with husband: wife beating justi...          1094
55   If she refuses sex with husband: wife beating ...          1094
56       If she burns the food: wife beating justified          1094
57              Currently married or living with a man          1094
58   Haveing other wives or liveing with other wome...          4762
59     How many other wives / partners living with you          8822
60                  Ever married or lived with a woman          5340
61                                      Marital status          8625
62   Married or lived with a woman once or more tha...          4565
63                                Month of first union          4379
64                                 Year of first union          4379
65                                  Age at first union          8964
66                     Age at first sexual intercourse          1094
67         Condom used during first sexual intercourse          2931
68           Time since last sexual intercourse (unit)          2931
69         Time since last sexual intercourse (number)          2931
70              Condom used at last sexual intercourse          3367
71                 Relationship to last sexual partner          3367
72      Sex with any other person in the last 12 month          3367
73               Condom used with prior sexual partner          8157
74                Relationship to prior sexual partner          8157
75        Sex with any other man in the last 12 months          8157
76            Number of sex partners in last 12 months          8793
77                  Number of sex partners in lifetime          2931
78                                  Ever heard of AIDS          1094
79   Can avoid AIDS virus by having one uninfected ...          1184
80       Can get AIDS virus through supernatural means          1184
81   Can avoid AIDS virus by using a condom correct...          1184
82              Can get AIDS virus from mosquito bites          1184
83   Can get AIDS virus by sharing food with a pers...          1184
84          Healthy-looking person may have AIDS virus          1184
85    AIDS virus from mother to child during pregnancy          1184
86     AIDS virus from mother to child during delivery          1184
87   AIDS virus from mother to child through breast...          1184
88   Should female teacher with AIDS virus be allow...          1184
89   Would buy fresh vegetables from shopkeeper wit...          1184
90   If HH member became infected with AIDS virus, ...          1184
91   Willing to care for person with AIDS in household          1184
92                     Ever been tested for AIDS virus          1184
93          Most recent time of testing for AIDS virus          4034
94                 Received results of AIDS virus test          4034
95                 Know a place to get AIDS virus test          6158
96                           Respondent is circumcised          1094
97                                 Age at circumcision          8154
98                      Person performing circumcision          8154
99                               Place of circumcision          8154
100                       Ever tried cigarette smoking          1094
101   Age when cigarette was smoked for the first time          5887
102                       Currently smoking cigarettes          6165
103   Number of cigarettes smoked in the last 24 hours          7533
104  Number of days when cigarettes were smoked in ...          7533
105  Ever tried any smoked tobacco products other t...          1094
106  Used any smoked tobacco products during the la...          7728
107             Type of smoked tobacco product: Cigars          8980
108         Type of smoked tobacco product: Water pipe          9005
109         Type of smoked tobacco product: Cigarillos          9006
110               Type of smoked tobacco product: Pipe          9003
111              Type of smoked tobacco product: Other          8998
112  Number of days when tobacco products where smo...          8293
113  Ever tried any form of smokeless tobacco products          1094
114  Used any smokeless tobacco products during the...          8543
115  Type of smokeless tobacco product used: Chewin...          9008
116      Type of smokeless tobacco product used: Snuff          8882
117        Type of smokeless tobacco product used: Dip          9005
118      Type of smokeless tobacco product used: Other          9008
119  Number of days when smokeless tobacco products...          8879
120                                 Ever drunk alcohol          1094
121       Age when alcohol was used for the first time          4330
122  Number of days when at least one drink of alco...          4567
123                  Number of drinks usually consumed          6598
124                                         Net number          6782
125                              Mosquito net observed          6782
126                         Brand/type of observed net          6782
127                            Months ago net obtained          6782
128      Net treated with an insecticide when obtained          8649
129                Net soaked or dipped since obtained          8569
130                    Months ago net soaked or dipped          8964
131        Persons slept under mosquito net last night          6782
132                       Person 1 who slept under net          6782
133                       Person 2 who slept under net          6782
134                       Person 3 who slept under net          7273
135                       Person 4 who slept under net          8109
136                                               Area             0
137                                             Region             0
138                      Date of interview women (CMC)             0
139                       Date of birth of woman (CMC)          1094
140                                                Age          1094
141                             Date of marriage (CMC)          4379
142                        Age at first marriage/union          4379
143                  Date of birth of last child (CMC)          9008
144                               Marital/Union status          1094
145                                 Children ever born          1094
146                                 Children surviving          1094
147                                      Children dead          1094
148                                 Wealth index score             0
149                             Wealth index quintiles             0

In [23]:
missing.describe()

       missing vals
count    150.000000
mean    3868.420000
std     3233.806999
min        0.000000
25%     1094.000000
50%     2931.000000
75%     6782.000000
max     9008.000000

Drop columns with over 7000 missing values out of 9008.

In [24]:
drop_col = missing[missing["missing vals"] >7000]
drop_col

                                                   col  missing vals
29       Frequency of computer usage in the last month          7217
45                                           Boys dead          8126
46                                          Girls dead          8126
49   Number of women respondent fathered children with          7849
59     How many other wives / partners living with you          8822
61                                      Marital status          8625
65                                  Age at first union          8964
73               Condom used with prior sexual partner          8157
74                Relationship to prior sexual partner          8157
75        Sex with any other man in the last 12 months          8157
76            Number of sex partners in last 12 months          8793
97                                 Age at circumcision          8154
98                      Person performing circumcision          8154
99                               Place of circumcision          8154
103   Number of cigarettes smoked in the last 24 hours          7533
104  Number of days when cigarettes were smoked in ...          7533
106  Used any smoked tobacco products during the la...          7728
107             Type of smoked tobacco product: Cigars          8980
108         Type of smoked tobacco product: Water pipe          9005
109         Type of smoked tobacco product: Cigarillos          9006
110               Type of smoked tobacco product: Pipe          9003
111              Type of smoked tobacco product: Other          8998
112  Number of days when tobacco products where smo...          8293
114  Used any smokeless tobacco products during the...          8543
115  Type of smokeless tobacco product used: Chewin...          9008
116      Type of smokeless tobacco product used: Snuff          8882
117        Type of smokeless tobacco product used: Dip          9005
118      Type of smokeless tobacco product used: Other          9008
119  Number of days when smokeless tobacco products...          8879
128      Net treated with an insecticide when obtained          8649
129                Net soaked or dipped since obtained          8569
130                    Months ago net soaked or dipped          8964
134                       Person 3 who slept under net          7273
135                       Person 4 who slept under net          8109
143                  Date of birth of last child (CMC)          9008

In [25]:
#List of columns with too many missing values

to_drop = list(drop_col["col"])
to_drop

['Frequency of computer usage in the last month',
 'Boys dead',
 'Girls dead',
 'Number of women respondent fathered children with',
 'How many other wives / partners living with you',
 'Marital status',
 'Age at first union',
 'Condom used with prior sexual partner',
 'Relationship to prior sexual partner',
 'Sex with any other man in the last 12 months',
 'Number of sex partners in last 12 months',
 'Age at circumcision',
 'Person performing circumcision',
 'Place of circumcision',
 'Number of cigarettes smoked in the last 24 hours',
 'Number of days when cigarettes were smoked in past month',
 'Used any smoked tobacco products during the last month',
 'Type of smoked tobacco product: Cigars',
 'Type of smoked tobacco product: Water pipe',
 'Type of smoked tobacco product: Cigarillos',
 'Type of smoked tobacco product: Pipe',
 'Type of smoked tobacco product: Other',
 'Number of days when tobacco products where smoked in past month',
 'Used any smokeless tobacco products during the last month',
 'Type of smokeless tobacco product used: Chewing tobacco',
 'Type of smokeless tobacco product used: Snuff',
 'Type of smokeless tobacco product used: Dip',
 'Type of smokeless tobacco product used: Other',
 'Number of days when smokeless tobacco products where used in past month',
 'Net treated with an insecticide when obtained',
 'Net soaked or dipped since obtained',
 'Months ago net soaked or dipped',
 'Person 3 who slept under net',
 'Person 4 who slept under net',
 'Date of birth of last child (CMC)']

In [26]:
#Dropping the columns with too many missing values

raw2 = raw.drop(to_drop, axis = 1)

In [27]:
raw2.head(20)

,Cluster number,Household number,Line number,Cluster number,Household number,Man's line number,Interviewer number,Day of interview,Month of interview,Year of interview,Result of man's interview,Field editor,Data entry clerk,Start of interview - Hour,Start of interview - Minutes,End of interview - Hour,End of interview - Minutes,Month of birth of man,Year of birth of man,Age of man,Ever attended school,Highest level of school attended,Highest grade completed at that level,Can read part of the sentence,Frequency of reading newspaper or magazine,Frequency of listening to the radio,Frequency of watching TV,Ever used a computer,Computer usage in the last 12 months,Ever used internet,Internet usage in the last 12 months,Frequency of Internet usage in the past month,Ever used a mobile or non-mobile phone,Mobile or non-mobile phone usage in the last 12 months,Frequency of mobile or non-mobile usage in the past month,Ever fathered any children with any women,Age when first child was born,Any sons or daughters living with you,Sons living with you,Daughters living with you,Any sons or daughters not living with you,Sons living elsewhere,Daughters living elsewhere,Ever had child who later died,Children ever born,Same biological mother,Month of last birth,Year of last birth,If she goes out with out telling husband: wife beating justified,If she neglects the children: wife beating justified,If she argues with husband: wife beating justified,If she refuses sex with husband: wife beating justified,If she burns the food: wife beating justified,Currently married or living with a man,Haveing other wives or liveing with other women as if you are married,Ever married or lived with a woman,Married or lived with a woman once or more than once,Month of first union,Year of first union,Age at first sexual intercourse,Condom used during first sexual intercourse,Time since last sexual intercourse (unit),Time since last sexual intercourse (number),Condom used at last sexual intercourse,Relationship to last sexual partner,Sex with any other person in the last 12 month,Number of sex partners in lifetime,Ever heard of AIDS,Can avoid AIDS virus by having one uninfected partner,Can get AIDS virus through supernatural means,Can avoid AIDS virus by using a condom correctly every time,Can get AIDS virus from mosquito bites,Can get AIDS virus by sharing food with a person who has AIDS,Healthy-looking person may have AIDS virus,AIDS virus from mother to child during pregnancy,AIDS virus from mother to child during delivery,AIDS virus from mother to child through breastfeeding,Should female teacher with AIDS virus be allowed to teach in school,Would buy fresh vegetables from shopkeeper with AIDS virus,"If HH member became infected with AIDS virus, would want it to remain a secret",Willing to care for person with AIDS in household,Ever been tested for AIDS virus,Most recent time of testing for AIDS virus,Received results of AIDS virus test,Know a place to get AIDS virus test,Respondent is circumcised,Ever tried cigarette smoking,Age when cigarette was smoked for the first time,Currently smoking cigarettes,Ever tried any smoked tobacco products other than cigarettes,Ever tried any form of smokeless tobacco products,Ever drunk alcohol,Age when alcohol was used for the first time,Number of days when at least one drink of alcohol was used in past month,Number of drinks usually consumed,Net number,Mosquito net observed,Brand/type of observed net,Months ago net obtained,Persons slept under mosquito net last night,Person 1 who slept under net,Person 2 who slept under net,Area,Region,Date of interview women (CMC),Date of birth of woman (CMC),Age,Date of marriage (CMC),Age at first marriage/union,Marital/Union status,Children ever born,Children surviving,Children dead,Wealth index score,Wealth index quintiles
0,1,17,1,1,17,1,14,7,4,2014,Completed,2,20,17.0,59.0,18.0,7.0,5.0,1984.0,29.0,Yes,Higher,31.0,NaN,Almost every day,At least once a week,Less than once a week,Yes,Yes,Yes,Yes,Almost every day,Yes,Yes,Almost every day,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,0.0,NaN,NaN,NaN,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,9.0,2013.0,20.0,Yes,Days ago,0.0,No,Wife,No,5.0,Yes,Yes,No,Yes,No,No,Yes,DK,Yes,DK,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,No,NaN,NaN,No,No,Yes,16.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,1013.0,25-29,1365.0,29.0,Currently married/in union,0.0,0.0,0.0,1.603670,5
1,1,20,1,1,20,1,14,7,4,2014,Completed,2,20,17.0,32.0,17.0,42.0,5.0,1976.0,37.0,Yes,Higher,31.0,NaN,At least once a week,Not at all,Almost every day,Yes,Yes,Yes,Yes,Almost every day,Yes,Yes,Almost every day,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,0.0,NaN,NaN,NaN,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,2.0,2014.0,37.0,No,Days ago,0.0,No,Wife,No,1.0,Yes,Yes,No,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes,Yes,No,Yes,Less than 12 months ago,Yes,NaN,No,No,NaN,NaN,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,917.0,35-39,1370.0,37.0,Currently married/in union,0.0,0.0,0.0,1.543277,5
2,2,1,1,2,1,1,9,8,4,2014,Completed,1,40,10.0,37.0,10.0,52.0,2.0,1973.0,41.0,Yes,Primary,17.0,Able to read whole sentence,Not at all,Almost every day,Less than once a week,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,21.0,Yes,1.0,1.0,Yes,1.0,0.0,No,3.0,No,5.0,2012.0,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,More than once,8.0,1991.0,20.0,No,Days ago,0.0,Yes,Wife,No,5.0,Yes,Yes,No,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Yes,Yes,2 or more years ago,Yes,NaN,No,Yes,18.0,Yes,Yes,No,Yes,19.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,878.0,40-44,1100.0,18.0,Currently married/in union,3.0,3.0,0.0,0.878635,4
3,2,1,5,2,1,5,9,12,4,2014,Not at home,1,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0
4,2,1,8,2,1,8,9,8,4,2014,Completed,1,40,10.0,53.0,11.0,10.0,2.0,1993.0,21.0,Yes,Secondary,24.0,NaN,Less than once a week,At least once a week,Less than once a week,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,0.0,NaN,NaN,NaN,No,No,No,No,No,"No, not in union",NaN,No,NaN,NaN,NaN,19.0,Yes,Months ago,7.0,Yes,Girlfriend,No,3.0,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,12-23 months ago,Yes,NaN,No,No,NaN,NaN,No,No,Yes,20.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,1118.0,20-24,NaN,NaN,Never married/in union,0.0,0.0,0.0,0.878635,4
5,2,5,1,2,5,1,9,8,4,2014,Not at home,1,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0
6,2,7,1,2,7,1,9,12,4,2014,Completed,1,40,15.0,42.0,16.0,0.0,5.0,1987.0,26.0,Yes,Primary,16.0,Cannot read at all,NaN,Almost every day,Not at all,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,23.0,Yes,1.0,0.0,No,NaN,NaN,No,1.0,Yes,12.0,2011.0,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,1.0,2011.0,20.0,Yes,Days ago,2.0,No,Wife,No,5.0,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Less than 12 months ago,Yes,NaN,Yes,Yes,21.0,No,No,No,Yes,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,1049.0,25-29,1333.0,23.0,Currently married/in union,1.0,1.0,0.0,0.594823,4
7,2,10,1,2,10,1,6,12,4,2014,Completed,1,40,12.0,37.0,12.0,54.0,5.0,1990.0,23.0,Yes,Higher,0.0,NaN,Almost every day,Almost every day,At least once a week,Yes,Yes,Yes,Yes,Almost every day,Yes,Yes,Almost every day,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,0.0,NaN,NaN,NaN,Yes,No,Yes,No,No,"No, not in union",NaN,No,NaN,NaN,NaN,17.0,No,Days ago,1.0,Yes,Girlfriend,No,10.0,Yes,Yes,No,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,Yes,16.0,No,No,No,Yes,15.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,1085.0,20-24,NaN,NaN,Never married/in union,0.0,0.0,0.0,1.324645,5
8,2,11,1,2,11,1,12,7,4,2014,Completed,1,40,10.0,19.0,10.0,32.0,9.0,1982.0,31.0,Yes,Secondary,24.0,NaN,Less than once a week,At least once a week,At least once a week,Yes,Yes,Yes,Yes,At least once a week,Yes,Yes,Not at all,Yes,27.0,No,NaN,NaN,Yes,1.0,0.0,No,1.0,Yes,9.0,2010.0,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,More than once,1.0,2009.0,22.0,Yes,Days ago,0.0,No,Wife,No,5.0,Yes,Yes,No,Yes,No,No,Yes,Yes,DK,DK,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,Yes,25.0,Yes,Yes,No,Yes,21.0,30.0,4.0,1.0,Observed,Olyset,1.0,Yes,1.0,2.0,Urban,Bulawayo,1372,993.0,30-34,1309.0,26.0,Currently married/in union,1.0,1.0,0.0,0.541830,4
9,2,13,1,2,13,1,12,7,4,2014,Completed,1,40,18.0,13.0,18.0,20.0,1.0,1990.0,24.0,Yes,Primary,15.0,Able to read whole sentence,Not at all,Almost every day,Less than once a week,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,0.0,NaN,NaN,NaN,No,No,No,No,No,"No, not in union",NaN,No,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Yes,No,Yes,Yes,DK,Yes,DK,Yes,DK,No,No,Yes,Yes,No,NaN,NaN,Yes,No,No,NaN,NaN,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,1081.0,20-24,NaN,NaN,Never married/in union,0.0,0.0,0.0,0.926727,4
10,2,14,2,2,14,2,12,13,4,2014,Completed,1,40,8.0,18.0,8.0,31.0,1.0,1978.0,36.0,Yes,Secondary,24.0,NaN,Almost every day,At least once a week,Almost every day,Yes,Yes,Yes,Yes,Almost every day,Yes,Yes,Almost every day,Yes,28.0,Yes,1.0,0.0,Yes,1.0,0.0,No,2.0,No,12.0,2012.0,No,No,No,No,No,"No, not in union",NaN,"Yes, formerly married",More than once,98.0,2006.0,18.0,Yes,Weeks ago,2.0,Yes,Girlfriend,No,12.0,Yes,Yes,No,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,Yes,21.0,Yes,No,No,Yes,21.0,10.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,937.0,35-39,1279.0,28.0,Formerly married/in union,2.0,2.0,0.0,1.535549,5
11,2,14,3,2,14,3,12,15,4,2014,Completed,1,40,9.0,13.0,9.0,21.0,6.0,1989.0,24.0,Yes,Higher,0.0,NaN,Almost every day,At least once a week,Almost every day,Yes,Yes,Yes,Yes,Almost every day,Yes,Yes,Almost every day,DK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,0.0,NaN,NaN,NaN,No,No,No,No,No,"No, not in union",NaN,No,NaN,NaN,NaN,22.0,Yes,Months ago,1.0,Yes,Girlfriend,No,3.0,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Less than 12 months ago,Yes,NaN,No,Yes,0.0,NaN,No,No,Yes,24.0,4.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,1074.0,20-24,NaN,NaN,Never married/in union,0.0,0.0,0.0,1.535549,5
12,2,14,5,2,14,5,12,7,4,2014,Completed,1,40,13.0,32.0,13.0,41.0,1.0,1995.0,19.0,Yes,Secondary,24.0,NaN,Less than once a week,At least once a week,Almost every day,Yes,Yes,Yes,Yes,Almost every day,Yes,Yes,Almost every day,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,0.0,NaN,NaN,NaN,No,No,No,No,No,"No, not in union",NaN,No,NaN,NaN,NaN,18.0,Yes,Months ago,2.0,Yes,Girlfriend,No,1.0,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Less than 12 months ago,Yes,NaN,No,No,NaN,NaN,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,1141.0,15-19,NaN,NaN,Never married/in union,0.0,0.0,0.0,1.535549,5
13,2,17,1,2,17,1,10,13,4,2014,Completed,1,40,12.0,24.0,12.0,37.0,8.0,1976.0,37.0,Yes,Secondary,24.0,NaN,At least once a week,Almost every day,At least once a week,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,25.0,Yes,1.0,1.0,Yes,2.0,0.0,No,4.0,No,2.0,2010.0,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,More than once,11.0,1999.0,24.0,No,Days ago,3.0,No,Wife,No,15.0,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,Yes,34.0,Yes,Yes,No,Yes,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,920.0,35-39,1199.0,23.0,Currently married/in union,4.0,4.0,0.0,0.961363,4
14,2,19,1,2,19,1,10,13,4,2014,Completed,1,40,8.0,30.0,8.0,41.0,9.0,1961.0,52.0,Yes,Secondary,24.0,NaN,Almost every day,Almost every day,Less than once a week,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,30.0,Yes,1.0,2.0,No,NaN,NaN,No,3.0,Yes,5.0,2001.0,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,2.0,1990.0,19.0,No,Days ago,4.0,Yes,Wife,No,2.0,Yes,Yes,DK,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,Yes,22.0,Yes,No,No,Yes,19.0,30.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,741.0,50-54,1082.0,28.0,Currently married/in union,3.0,3.0,0.0,1.505256,5
15,2,20,1,2,20,1,10,12,4,2014,Completed,1,40,15.0,14.0,15.0,38.0,11.0,1961.0,52.0,Yes,Secondary,22.0,NaN,At least once a week,At least once a week,Almost every day,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,25.0,Yes,0.0,1.0,Yes,1.0,2.0,No,4.0,No,4.0,2013.0,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,More than once,5.0,1981.0,14.0,No,Days ago,4.0,No,Wife,No,6.0,Yes,Yes,No,Yes,Yes,No,Yes,No,Yes,Yes,No,Yes,No,Yes,No,NaN,NaN,Yes,No,Yes,12.0,Yes,Yes,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,743.0,50-54,977.0,19.0,Currently married/in union,4.0,4.0,0.0,0.837471,4
16,2,22,1,2,22,1,8,12,4,2014,Completed,1,40,11.0,51.0,12.0,5.0,10.0,1988.0,25.0,Yes,Primary,17.0,Cannot read at all,NaN,Less than once a week,Less than once a week,No,NaN,No,NaN,NaN,Yes,Yes,Less than once a week,Yes,21.0,Yes,2.0,0.0,No,NaN,NaN,No,2.0,Yes,4.0,2013.0,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,98.0,2010.0,20.0,Yes,Days ago,1.0,No,Wife,No,1.0,Yes,Yes,No,No,No,Yes,Yes,No,Yes,No,Yes,No,Yes,Yes,No,NaN,NaN,Yes,No,No,NaN,NaN,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,1066.0,25-29,1326.0,21.0,Currently married/in union,2.0,2.0,0.0,0.613223,4
17,2,25,1,2,25,1,8,7,4,2014,Completed,1,40,15.0,48.0,16.0,0.0,11.0,1971.0,42.0,Yes,Secondary,24.0,NaN,Less than once a week,Less than once a week,Almost every day,No,NaN,Yes,Yes,Almost every day,Yes,Yes,Almost every day,Yes,35.0,Yes,2.0,1.0,No,NaN,NaN,No,3.0,Yes,12.0,2013.0,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,More than once,98.0,2000.0,20.0,No,Days ago,1.0,No,Wife,No,3.0,Yes,Yes,No,Yes,No,Yes,Yes,No,No,Yes,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,Yes,0.0,NaN,No,No,Yes,15.0,1.0,1.0,1.0,Observed,Permanent,24.0,Yes,1.0,2.0,Urban,Bulawayo,1372,863.0,40-44,1208.0,28.0,Currently married/in union,3.0,3.0,0.0,1.275285,5
18,3,3,1,3,3,1,5,16,4,2014,Completed,2,4,18.0,2.0,18.0,15.0,4.0,1972.0,42.0,Yes,Higher,31.0,NaN,Almost every day,Almost every day,Less than once a week,Yes,Yes,Yes,Yes,Almost every day,Yes,Yes,Almost every day,Yes,32.0,Yes,1.0,1.0,No,NaN,NaN,No,2.0,Yes,1.0,2011.0,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,3.0,2002.0,30.0,No,Days ago,1.0,No,Wife,No,1.0,Yes,Yes,No,Yes,No,No,Yes,No,Yes,DK,Yes,Yes,Yes,Yes,Yes,2 or more years ago,Yes,NaN,No,No,NaN,NaN,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,868.0,40-44,1227.0,29.0,Currently married/in union,2.0,2.0,0.0,1.389269,5
19,3,4,1,3,4,1,5,11,4,2014,Completed,2,4,12.0,20.0,12.0,35.0,10.0,1981.0,32.0,Yes,Primary,17.0,Able to read whole sentence,Less than once a week,Less than once a week,Not at all,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,30.0,Yes,0.0,1.0,No,NaN,NaN,No,1.0,Yes,7.0,2012.0,No,No,No,No,No,"Yes, living with a women",No (Only one),NaN,More than once,98.0,2000.0,18.0,Yes,Days ago,0.0,Yes,Cohabiting partner,Yes,3.0,Yes,Yes,No,Yes,DK,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,No,NaN,NaN,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Urban,Bulawayo,1372,982.0,30-34,1201.0,18.0,Currently married/in union,1.0,1.0,0.0,0.882931,4

# Check dataypes for all columns

In [28]:
raw2.dtypes

Cluster number                                                                      int64
Household number                                                                    int64
Line number                                                                         int64
Cluster number                                                                      int64
Household number                                                                    int64
Man's line number                                                                   int64
Interviewer number                                                                  int64
Day of interview                                                                    int64
Month of interview                                                                  int64
Year of interview                                                                   int64
Result of man's interview                                                          object
Field editor                                                                        int64
Data entry clerk                                                                    int64
Start of interview - Hour                                                         float64
Start of interview - Minutes                                                      float64
End of interview - Hour                                                           float64
End of interview - Minutes                                                        float64
Month of birth of man                                                             float64
Year of birth of man                                                              float64
Age of man                                                                        float64
Ever attended school                                                               object
Highest level of school attended                                                   object
Highest grade completed at that level                                             float64
Can read part of the sentence                                                      object
Frequency of reading newspaper or magazine                                         object
Frequency of listening to the radio                                                object
Frequency of watching TV                                                           object
Ever used a computer                                                               object
Computer usage in the last 12 months                                               object
Ever used internet                                                                 object
Internet usage in the last 12 months                                               object
Frequency of Internet usage in the past month                                      object
Ever used a mobile or non-mobile phone                                             object
Mobile or non-mobile phone usage in the last 12 months                             object
Frequency of mobile or non-mobile usage in the past month                          object
Ever fathered any children with any women                                          object
Age when first child was born                                                     float64
Any sons or daughters living with you                                              object
Sons living with you                                                              float64
Daughters living with you                                                         float64
Any sons or daughters not living with you                                          object
Sons living elsewhere                                                             float64
Daughters living elsewhere                                                        float64
Ever had child who later died                                                      object
Children ever born                                                                float64
Same biological mother                                                             object
Month of last birth                                                               float64
Year of last birth                                                                float64
If she goes out with out telling husband: wife beating justified                   object
If she neglects the children: wife beating justified                               object
If she argues with husband: wife beating justified                                 object
If she refuses sex with husband: wife beating justified                            object
If she burns the food: wife beating justified                                      object
Currently married or living with a man                                             object
Haveing other wives or liveing with other women as if you are married              object
Ever married or lived with a woman                                                 object
Married or lived with a woman once or more than once                               object
Month of first union                                                              float64
Year of first union                                                               float64
Age at first sexual intercourse                                                   float64
Condom used during first sexual intercourse                                        object
Time since last sexual intercourse (unit)                                          object
Time since last sexual intercourse (number)                                       float64
Condom used at last sexual intercourse                                             object
Relationship to last sexual partner                                                object
Sex with any other person in the last 12 month                                     object
Number of sex partners in lifetime                                                float64
Ever heard of AIDS                                                                 object
Can avoid AIDS virus by having one uninfected partner                              object
Can get AIDS virus through supernatural means                                      object
Can avoid AIDS virus by using a condom correctly every time                        object
Can get AIDS virus from mosquito bites                                             object
Can get AIDS virus by sharing food with a person who has AIDS                      object
Healthy-looking person may have AIDS virus                                         object
AIDS virus from mother to child during pregnancy                                   object
AIDS virus from mother to child during delivery                                    object
AIDS virus from mother to child through breastfeeding                              object
Should female teacher with AIDS virus be allowed to teach in school                object
Would buy fresh vegetables from shopkeeper with AIDS virus                         object
If HH member became infected with AIDS virus, would want it to remain a secret     object
Willing to care for person with AIDS in household                                  object
Ever been tested for AIDS virus                                                    object
Most recent time of testing for AIDS virus                                         object
Received results of AIDS virus test                                                object
Know a place to get AIDS virus test                                                object
Respondent is circumcised                                                          object
Ever tried cigarette smoking                                                       object
Age when cigarette was smoked for the first time                                  float64
Currently smoking cigarettes                                                       object
Ever tried any smoked tobacco products other than cigarettes                       object
Ever tried any form of smokeless tobacco products                                  object
Ever drunk alcohol                                                                 object
Age when alcohol was used for the first time                                      float64
Number of days when at least one drink of alcohol was used in past month          float64
Number of drinks usually consumed                                                 float64
Net number                                                                        float64
Mosquito net observed                                                              object
Brand/type of observed net                                                         object
Months ago net obtained                                                           float64
Persons slept under mosquito net last night                                        object
Person 1 who slept under net                                                      float64
Person 2 who slept under net                                                      float64
Area                                                                               object
Region                                                                             object
Date of interview women (CMC)                                                       int64
Date of birth of woman (CMC)                                                      float64
Age                                                                                object
Date of marriage (CMC)                                                            float64
Age at first marriage/union                                                       float64
Marital/Union status                                                               object
Children ever born                                                                float64
Children surviving                                                                float64
Children dead                                                                     float64
Wealth index score                                                                float64
Wealth index quintiles                                                              int64
dtype: object

- Most float64 can convert to int64. Except for 'Wealth index score'
- 'Date of interview women (CMC)', 'Date of birth of woman (CMC)', 'Date of marriage (CMC)' values do not really make sense so we will drop them.
- 'Children ever born' is duplicated 3 times.

In [29]:
# Dropping columns that do not add value

raw2 = raw2.drop(['Date of interview women (CMC)', 'Date of birth of woman (CMC)', 'Date of marriage (CMC)'], axis = 1)

In [30]:
float_col = raw2.select_dtypes('float64').columns.to_list()
float_col = float_col[:-1]
float_col

['Start of interview - Hour',
 'Start of interview - Minutes',
 'End of interview - Hour',
 'End of interview - Minutes',
 'Month of birth of man',
 'Year of birth of man',
 'Age of man',
 'Highest grade completed at that level',
 'Age when first child was born',
 'Sons living with you',
 'Daughters living with you',
 'Sons living elsewhere',
 'Daughters living elsewhere',
 'Children ever born',
 'Month of last birth',
 'Year of last birth',
 'Month of first union',
 'Year of first union',
 'Age at first sexual intercourse',
 'Time since last sexual intercourse (number)',
 'Number of sex partners in lifetime',
 'Age when cigarette was smoked for the first time',
 'Age when alcohol was used for the first time',
 'Number of days when at least one drink of alcohol was used in past month',
 'Number of drinks usually consumed',
 'Net number',
 'Months ago net obtained',
 'Person 1 who slept under net',
 'Person 2 who slept under net',
 'Age at first marriage/union',
 'Children ever born',
 'Children surviving',
 'Children dead']

In [31]:
raw2[float_col].head()

,Start of interview - Hour,Start of interview - Minutes,End of interview - Hour,End of interview - Minutes,Month of birth of man,Year of birth of man,Age of man,Highest grade completed at that level,Age when first child was born,Sons living with you,Daughters living with you,Sons living elsewhere,Daughters living elsewhere,Children ever born,Children ever born,Month of last birth,Year of last birth,Month of first union,Year of first union,Age at first sexual intercourse,Time since last sexual intercourse (number),Number of sex partners in lifetime,Age when cigarette was smoked for the first time,Age when alcohol was used for the first time,Number of days when at least one drink of alcohol was used in past month,Number of drinks usually consumed,Net number,Months ago net obtained,Person 1 who slept under net,Person 2 who slept under net,Age at first marriage/union,Children ever born,Children ever born,Children surviving,Children dead
0,17.0,59.0,18.0,7.0,5.0,1984.0,29.0,31.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,9.0,2013.0,20.0,0.0,5.0,NaN,16.0,0.0,NaN,NaN,NaN,NaN,NaN,29.0,0.0,0.0,0.0,0.0
1,17.0,32.0,17.0,42.0,5.0,1976.0,37.0,31.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,2.0,2014.0,37.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,0.0,0.0,0.0,0.0
2,10.0,37.0,10.0,52.0,2.0,1973.0,41.0,17.0,21.0,1.0,1.0,1.0,0.0,3.0,3.0,5.0,2012.0,8.0,1991.0,20.0,0.0,5.0,18.0,19.0,8.0,2.0,NaN,NaN,NaN,NaN,18.0,3.0,3.0,3.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10.0,53.0,11.0,10.0,2.0,1993.0,21.0,24.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,19.0,7.0,3.0,NaN,20.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0

In [32]:
# Remove na values and replace with median

for x in float_col:
    raw2[x] = raw2[x].fillna(raw2[x].median())

In [33]:
raw2[float_col].isna().sum()

Start of interview - Hour                                                      0
Start of interview - Minutes                                                   0
End of interview - Hour                                                        0
End of interview - Minutes                                                     0
Month of birth of man                                                          0
Year of birth of man                                                           0
Age of man                                                                     0
Highest grade completed at that level                                          0
Age when first child was born                                                  0
Sons living with you                                                           0
Daughters living with you                                                      0
Sons living elsewhere                                                          0
Daughters living elsewhere                                                     0
Children ever born                                                          1094
Children ever born                                                          1094
Month of last birth                                                            0
Year of last birth                                                             0
Month of first union                                                           0
Year of first union                                                            0
Age at first sexual intercourse                                                0
Time since last sexual intercourse (number)                                    0
Number of sex partners in lifetime                                             0
Age when cigarette was smoked for the first time                               0
Age when alcohol was used for the first time                                   0
Number of days when at least one drink of alcohol was used in past month       0
Number of drinks usually consumed                                              0
Net number                                                                     0
Months ago net obtained                                                        0
Person 1 who slept under net                                                   0
Person 2 who slept under net                                                   0
Age at first marriage/union                                                    0
Children ever born                                                          1094
Children ever born                                                          1094
Children surviving                                                             0
Children dead                                                                  0
dtype: int64

In [34]:
# Drop duplicate columns

raw2 = raw2.drop(["Children ever born"], axis = 1)

In [35]:
raw2["Children ever born"] = raw2["Children surviving"] + raw2["Children dead"]
raw2["Children ever born"] = raw2["Children ever born"].astype(int)

In [36]:
# Convert columns from float64 to int64 
for x in float_col:
    raw2[x] = raw2[x].astype(int)

In [37]:
raw2.head()

,Cluster number,Household number,Line number,Cluster number,Household number,Man's line number,Interviewer number,Day of interview,Month of interview,Year of interview,Result of man's interview,Field editor,Data entry clerk,Start of interview - Hour,Start of interview - Minutes,End of interview - Hour,End of interview - Minutes,Month of birth of man,Year of birth of man,Age of man,Ever attended school,Highest level of school attended,Highest grade completed at that level,Can read part of the sentence,Frequency of reading newspaper or magazine,Frequency of listening to the radio,Frequency of watching TV,Ever used a computer,Computer usage in the last 12 months,Ever used internet,Internet usage in the last 12 months,Frequency of Internet usage in the past month,Ever used a mobile or non-mobile phone,Mobile or non-mobile phone usage in the last 12 months,Frequency of mobile or non-mobile usage in the past month,Ever fathered any children with any women,Age when first child was born,Any sons or daughters living with you,Sons living with you,Daughters living with you,Any sons or daughters not living with you,Sons living elsewhere,Daughters living elsewhere,Ever had child who later died,Same biological mother,Month of last birth,Year of last birth,If she goes out with out telling husband: wife beating justified,If she neglects the children: wife beating justified,If she argues with husband: wife beating justified,If she refuses sex with husband: wife beating justified,If she burns the food: wife beating justified,Currently married or living with a man,Haveing other wives or liveing with other women as if you are married,Ever married or lived with a woman,Married or lived with a woman once or more than once,Month of first union,Year of first union,Age at first sexual intercourse,Condom used during first sexual intercourse,Time since last sexual intercourse (unit),Time since last sexual intercourse (number),Condom used at last sexual intercourse,Relationship to last sexual partner,Sex with any other person in the last 12 month,Number of sex partners in lifetime,Ever heard of AIDS,Can avoid AIDS virus by having one uninfected partner,Can get AIDS virus through supernatural means,Can avoid AIDS virus by using a condom correctly every time,Can get AIDS virus from mosquito bites,Can get AIDS virus by sharing food with a person who has AIDS,Healthy-looking person may have AIDS virus,AIDS virus from mother to child during pregnancy,AIDS virus from mother to child during delivery,AIDS virus from mother to child through breastfeeding,Should female teacher with AIDS virus be allowed to teach in school,Would buy fresh vegetables from shopkeeper with AIDS virus,"If HH member became infected with AIDS virus, would want it to remain a secret",Willing to care for person with AIDS in household,Ever been tested for AIDS virus,Most recent time of testing for AIDS virus,Received results of AIDS virus test,Know a place to get AIDS virus test,Respondent is circumcised,Ever tried cigarette smoking,Age when cigarette was smoked for the first time,Currently smoking cigarettes,Ever tried any smoked tobacco products other than cigarettes,Ever tried any form of smokeless tobacco products,Ever drunk alcohol,Age when alcohol was used for the first time,Number of days when at least one drink of alcohol was used in past month,Number of drinks usually consumed,Net number,Mosquito net observed,Brand/type of observed net,Months ago net obtained,Persons slept under mosquito net last night,Person 1 who slept under net,Person 2 who slept under net,Area,Region,Age,Age at first marriage/union,Marital/Union status,Children surviving,Children dead,Wealth index score,Wealth index quintiles,Children ever born
0,1,17,1,1,17,1,14,7,4,2014,Completed,2,20,17,59,18,7,5,1984,29,Yes,Higher,31,NaN,Almost every day,At least once a week,Less than once a week,Yes,Yes,Yes,Yes,Almost every day,Yes,Yes,Almost every day,No,24,NaN,1,1,NaN,1,1,No,NaN,7,2011,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,9,2013,20,Yes,Days ago,0,No,Wife,No,5,Yes,Yes,No,Yes,No,No,Yes,DK,Yes,DK,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,No,19,NaN,No,No,Yes,16,0,4,1,NaN,NaN,10,NaN,1,2,Urban,Bulawayo,25-29,29,Currently married/in union,0,0,1.603670,5,0
1,1,20,1,1,20,1,14,7,4,2014,Completed,2,20,17,32,17,42,5,1976,37,Yes,Higher,31,NaN,At least once a week,Not at all,Almost every day,Yes,Yes,Yes,Yes,Almost every day,Yes,Yes,Almost every day,No,24,NaN,1,1,NaN,1,1,No,NaN,7,2011,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,2,2014,37,No,Days ago,0,No,Wife,No,1,Yes,Yes,No,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes,Yes,No,Yes,Less than 12 months ago,Yes,NaN,No,No,19,NaN,No,No,No,20,1,4,1,NaN,NaN,10,NaN,1,2,Urban,Bulawayo,35-39,37,Currently married/in union,0,0,1.543277,5,0
2,2,1,1,2,1,1,9,8,4,2014,Completed,1,40,10,37,10,52,2,1973,41,Yes,Primary,17,Able to read whole sentence,Not at all,Almost every day,Less than once a week,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,21,Yes,1,1,Yes,1,0,No,No,5,2012,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,More than once,8,1991,20,No,Days ago,0,Yes,Wife,No,5,Yes,Yes,No,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Yes,Yes,2 or more years ago,Yes,NaN,No,Yes,18,Yes,Yes,No,Yes,19,8,2,1,NaN,NaN,10,NaN,1,2,Urban,Bulawayo,40-44,18,Currently married/in union,3,0,0.878635,4,3
3,2,1,5,2,1,5,9,12,4,2014,Not at home,1,40,12,29,12,29,6,1986,28,NaN,NaN,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,1,1,NaN,1,1,NaN,NaN,7,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2003,18,NaN,NaN,2,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,20,1,4,1,NaN,NaN,10,NaN,1,2,Urban,Bulawayo,NaN,23,NaN,1,0,0.000000,0,1
4,2,1,8,2,1,8,9,8,4,2014,Completed,1,40,10,53,11,10,2,1993,21,Yes,Secondary,24,NaN,Less than once a week,At least once a week,Less than once a week,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,No,24,NaN,1,1,NaN,1,1,No,NaN,7,2011,No,No,No,No,No,"No, not in union",NaN,No,NaN,8,2003,19,Yes,Months ago,7,Yes,Girlfriend,No,3,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,12-23 months ago,Yes,NaN,No,No,19,NaN,No,No,Yes,20,10,2,1,NaN,NaN,10,NaN,1,2,Urban,Bulawayo,20-24,23,Never married/in union,0,0,0.878635,4,0

In [38]:
raw2.dtypes

Cluster number                                                                      int64
Household number                                                                    int64
Line number                                                                         int64
Cluster number                                                                      int64
Household number                                                                    int64
Man's line number                                                                   int64
Interviewer number                                                                  int64
Day of interview                                                                    int64
Month of interview                                                                  int64
Year of interview                                                                   int64
Result of man's interview                                                          object
Field editor                                                                        int64
Data entry clerk                                                                    int64
Start of interview - Hour                                                           int64
Start of interview - Minutes                                                        int64
End of interview - Hour                                                             int64
End of interview - Minutes                                                          int64
Month of birth of man                                                               int64
Year of birth of man                                                                int64
Age of man                                                                          int64
Ever attended school                                                               object
Highest level of school attended                                                   object
Highest grade completed at that level                                               int64
Can read part of the sentence                                                      object
Frequency of reading newspaper or magazine                                         object
Frequency of listening to the radio                                                object
Frequency of watching TV                                                           object
Ever used a computer                                                               object
Computer usage in the last 12 months                                               object
Ever used internet                                                                 object
Internet usage in the last 12 months                                               object
Frequency of Internet usage in the past month                                      object
Ever used a mobile or non-mobile phone                                             object
Mobile or non-mobile phone usage in the last 12 months                             object
Frequency of mobile or non-mobile usage in the past month                          object
Ever fathered any children with any women                                          object
Age when first child was born                                                       int64
Any sons or daughters living with you                                              object
Sons living with you                                                                int64
Daughters living with you                                                           int64
Any sons or daughters not living with you                                          object
Sons living elsewhere                                                               int64
Daughters living elsewhere                                                          int64
Ever had child who later died                                                      object
Same biological mother                                                             object
Month of last birth                                                                 int64
Year of last birth                                                                  int64
If she goes out with out telling husband: wife beating justified                   object
If she neglects the children: wife beating justified                               object
If she argues with husband: wife beating justified                                 object
If she refuses sex with husband: wife beating justified                            object
If she burns the food: wife beating justified                                      object
Currently married or living with a man                                             object
Haveing other wives or liveing with other women as if you are married              object
Ever married or lived with a woman                                                 object
Married or lived with a woman once or more than once                               object
Month of first union                                                                int64
Year of first union                                                                 int64
Age at first sexual intercourse                                                     int64
Condom used during first sexual intercourse                                        object
Time since last sexual intercourse (unit)                                          object
Time since last sexual intercourse (number)                                         int64
Condom used at last sexual intercourse                                             object
Relationship to last sexual partner                                                object
Sex with any other person in the last 12 month                                     object
Number of sex partners in lifetime                                                  int64
Ever heard of AIDS                                                                 object
Can avoid AIDS virus by having one uninfected partner                              object
Can get AIDS virus through supernatural means                                      object
Can avoid AIDS virus by using a condom correctly every time                        object
Can get AIDS virus from mosquito bites                                             object
Can get AIDS virus by sharing food with a person who has AIDS                      object
Healthy-looking person may have AIDS virus                                         object
AIDS virus from mother to child during pregnancy                                   object
AIDS virus from mother to child during delivery                                    object
AIDS virus from mother to child through breastfeeding                              object
Should female teacher with AIDS virus be allowed to teach in school                object
Would buy fresh vegetables from shopkeeper with AIDS virus                         object
If HH member became infected with AIDS virus, would want it to remain a secret     object
Willing to care for person with AIDS in household                                  object
Ever been tested for AIDS virus                                                    object
Most recent time of testing for AIDS virus                                         object
Received results of AIDS virus test                                                object
Know a place to get AIDS virus test                                                object
Respondent is circumcised                                                          object
Ever tried cigarette smoking                                                       object
Age when cigarette was smoked for the first time                                    int64
Currently smoking cigarettes                                                       object
Ever tried any smoked tobacco products other than cigarettes                       object
Ever tried any form of smokeless tobacco products                                  object
Ever drunk alcohol                                                                 object
Age when alcohol was used for the first time                                        int64
Number of days when at least one drink of alcohol was used in past month            int64
Number of drinks usually consumed                                                   int64
Net number                                                                          int64
Mosquito net observed                                                              object
Brand/type of observed net                                                         object
Months ago net obtained                                                             int64
Persons slept under mosquito net last night                                        object
Person 1 who slept under net                                                        int64
Person 2 who slept under net                                                        int64
Area                                                                               object
Region                                                                             object
Age                                                                                object
Age at first marriage/union                                                         int64
Marital/Union status                                                               object
Children surviving                                                                  int64
Children dead                                                                       int64
Wealth index score                                                                float64
Wealth index quintiles                                                              int64
Children ever born                                                                  int64
dtype: object

In [39]:
# Check for duplicate rows
raw2.duplicated().sum()

0

# Examine the columns to look for incorrect values

In [40]:
# Check year born values
raw2["Year of birth of man"].describe()

count    9008.000000
mean     1985.307504
std        85.022613
min      1959.000000
25%      1978.000000
50%      1986.000000
75%      1993.000000
max      9999.000000
Name: Year of birth of man, dtype: float64

In [41]:
# Birth year of 9999 is incorrect

raw2[raw2["Year of birth of man"] >2023]

,Cluster number,Household number,Line number,Cluster number,Household number,Man's line number,Interviewer number,Day of interview,Month of interview,Year of interview,Result of man's interview,Field editor,Data entry clerk,Start of interview - Hour,Start of interview - Minutes,End of interview - Hour,End of interview - Minutes,Month of birth of man,Year of birth of man,Age of man,Ever attended school,Highest level of school attended,Highest grade completed at that level,Can read part of the sentence,Frequency of reading newspaper or magazine,Frequency of listening to the radio,Frequency of watching TV,Ever used a computer,Computer usage in the last 12 months,Ever used internet,Internet usage in the last 12 months,Frequency of Internet usage in the past month,Ever used a mobile or non-mobile phone,Mobile or non-mobile phone usage in the last 12 months,Frequency of mobile or non-mobile usage in the past month,Ever fathered any children with any women,Age when first child was born,Any sons or daughters living with you,Sons living with you,Daughters living with you,Any sons or daughters not living with you,Sons living elsewhere,Daughters living elsewhere,Ever had child who later died,Same biological mother,Month of last birth,Year of last birth,If she goes out with out telling husband: wife beating justified,If she neglects the children: wife beating justified,If she argues with husband: wife beating justified,If she refuses sex with husband: wife beating justified,If she burns the food: wife beating justified,Currently married or living with a man,Haveing other wives or liveing with other women as if you are married,Ever married or lived with a woman,Married or lived with a woman once or more than once,Month of first union,Year of first union,Age at first sexual intercourse,Condom used during first sexual intercourse,Time since last sexual intercourse (unit),Time since last sexual intercourse (number),Condom used at last sexual intercourse,Relationship to last sexual partner,Sex with any other person in the last 12 month,Number of sex partners in lifetime,Ever heard of AIDS,Can avoid AIDS virus by having one uninfected partner,Can get AIDS virus through supernatural means,Can avoid AIDS virus by using a condom correctly every time,Can get AIDS virus from mosquito bites,Can get AIDS virus by sharing food with a person who has AIDS,Healthy-looking person may have AIDS virus,AIDS virus from mother to child during pregnancy,AIDS virus from mother to child during delivery,AIDS virus from mother to child through breastfeeding,Should female teacher with AIDS virus be allowed to teach in school,Would buy fresh vegetables from shopkeeper with AIDS virus,"If HH member became infected with AIDS virus, would want it to remain a secret",Willing to care for person with AIDS in household,Ever been tested for AIDS virus,Most recent time of testing for AIDS virus,Received results of AIDS virus test,Know a place to get AIDS virus test,Respondent is circumcised,Ever tried cigarette smoking,Age when cigarette was smoked for the first time,Currently smoking cigarettes,Ever tried any smoked tobacco products other than cigarettes,Ever tried any form of smokeless tobacco products,Ever drunk alcohol,Age when alcohol was used for the first time,Number of days when at least one drink of alcohol was used in past month,Number of drinks usually consumed,Net number,Mosquito net observed,Brand/type of observed net,Months ago net obtained,Persons slept under mosquito net last night,Person 1 who slept under net,Person 2 who slept under net,Area,Region,Age,Age at first marriage/union,Marital/Union status,Children surviving,Children dead,Wealth index score,Wealth index quintiles,Children ever born
5874,451,21,1,451,21,1,716,31,3,2014,Completed,701,37,11,23,11,39,99,9999,46,Yes,Secondary,22,NaN,Not at all,Less than once a week,Less than once a week,No,NaN,No,NaN,NaN,Yes,Yes,Less than once a week,Yes,24,Yes,1,1,No,1,1,Yes,Yes,6,2006,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,1,1989,19,No,Days ago,0,No,Wife,No,1,Yes,Yes,No,No,Yes,Yes,Yes,Yes,No,Yes,No,No,No,Yes,No,NaN,NaN,No,No,Yes,26,Yes,Yes,No,No,20,1,4,1,NaN,NaN,10,NaN,1,2,Rural,Midlands,45-49,21,Currently married/in union,2,3,-1.043523,1,5

In [42]:
# Remove row 5874

raw2 = raw2[raw2["Year of birth of man"] < 2023]

In [43]:
# Check number of children values
raw2["Children ever born"].describe()

count    9007.000000
mean        1.679472
std         2.177083
min         0.000000
25%         0.000000
50%         1.000000
75%         3.000000
max        30.000000
Name: Children ever born, dtype: float64

In [44]:
# Anything above 20 may be worth looking into but we will leave these rows in for now

raw2[raw2["Children ever born"] >25]

,Cluster number,Household number,Line number,Cluster number,Household number,Man's line number,Interviewer number,Day of interview,Month of interview,Year of interview,Result of man's interview,Field editor,Data entry clerk,Start of interview - Hour,Start of interview - Minutes,End of interview - Hour,End of interview - Minutes,Month of birth of man,Year of birth of man,Age of man,Ever attended school,Highest level of school attended,Highest grade completed at that level,Can read part of the sentence,Frequency of reading newspaper or magazine,Frequency of listening to the radio,Frequency of watching TV,Ever used a computer,Computer usage in the last 12 months,Ever used internet,Internet usage in the last 12 months,Frequency of Internet usage in the past month,Ever used a mobile or non-mobile phone,Mobile or non-mobile phone usage in the last 12 months,Frequency of mobile or non-mobile usage in the past month,Ever fathered any children with any women,Age when first child was born,Any sons or daughters living with you,Sons living with you,Daughters living with you,Any sons or daughters not living with you,Sons living elsewhere,Daughters living elsewhere,Ever had child who later died,Same biological mother,Month of last birth,Year of last birth,If she goes out with out telling husband: wife beating justified,If she neglects the children: wife beating justified,If she argues with husband: wife beating justified,If she refuses sex with husband: wife beating justified,If she burns the food: wife beating justified,Currently married or living with a man,Haveing other wives or liveing with other women as if you are married,Ever married or lived with a woman,Married or lived with a woman once or more than once,Month of first union,Year of first union,Age at first sexual intercourse,Condom used during first sexual intercourse,Time since last sexual intercourse (unit),Time since last sexual intercourse (number),Condom used at last sexual intercourse,Relationship to last sexual partner,Sex with any other person in the last 12 month,Number of sex partners in lifetime,Ever heard of AIDS,Can avoid AIDS virus by having one uninfected partner,Can get AIDS virus through supernatural means,Can avoid AIDS virus by using a condom correctly every time,Can get AIDS virus from mosquito bites,Can get AIDS virus by sharing food with a person who has AIDS,Healthy-looking person may have AIDS virus,AIDS virus from mother to child during pregnancy,AIDS virus from mother to child during delivery,AIDS virus from mother to child through breastfeeding,Should female teacher with AIDS virus be allowed to teach in school,Would buy fresh vegetables from shopkeeper with AIDS virus,"If HH member became infected with AIDS virus, would want it to remain a secret",Willing to care for person with AIDS in household,Ever been tested for AIDS virus,Most recent time of testing for AIDS virus,Received results of AIDS virus test,Know a place to get AIDS virus test,Respondent is circumcised,Ever tried cigarette smoking,Age when cigarette was smoked for the first time,Currently smoking cigarettes,Ever tried any smoked tobacco products other than cigarettes,Ever tried any form of smokeless tobacco products,Ever drunk alcohol,Age when alcohol was used for the first time,Number of days when at least one drink of alcohol was used in past month,Number of drinks usually consumed,Net number,Mosquito net observed,Brand/type of observed net,Months ago net obtained,Persons slept under mosquito net last night,Person 1 who slept under net,Person 2 who slept under net,Area,Region,Age,Age at first marriage/union,Marital/Union status,Children surviving,Children dead,Wealth index score,Wealth index quintiles,Children ever born
2504,192,17,1,192,17,1,215,31,3,2014,Completed,202,22,11,34,11,51,3,1969,45,Yes,Secondary,21,NaN,Less than once a week,Almost every day,Not at all,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,21,Yes,3,0,Yes,5,7,Yes,No,8,2013,No,Yes,Yes,Yes,No,"Yes, currently married","Yes, (More than one)",NaN,NaN,6,1986,95,No,Days ago,1,No,Wife,Yes,3,Yes,Yes,No,Yes,No,No,Yes,No,DK,No,Yes,Yes,Yes,Yes,No,NaN,NaN,Yes,No,No,19,NaN,No,No,No,20,1,4,2,Observed,Interceptor,5,Yes,1,2,Rural,Mashonaland Central,45-49,17,Currently married/in union,15,15,-0.919676,2,30
3325,259,21,1,259,21,1,312,28,3,2014,Completed,305,17,14,3,14,17,6,1966,47,Yes,Primary,16,Able to read whole sentence,Not at all,Not at all,Less than once a week,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,17,Yes,1,2,Yes,5,8,Yes,No,8,2009,No,No,No,No,No,"Yes, currently married","Yes, (More than one)",NaN,NaN,4,1985,16,No,Days ago,0,No,Wife,No,20,Yes,Yes,No,Yes,Yes,No,Yes,DK,DK,Yes,Yes,Yes,Yes,Yes,No,NaN,NaN,No,No,Yes,16,No,No,No,Yes,16,0,4,1,NaN,NaN,10,NaN,1,2,Rural,Mashonaland East,45-49,18,Currently married/in union,16,10,-1.071348,1,26
3875,298,13,1,298,13,1,413,12,3,2014,Completed,401,6,10,8,10,32,9,1960,53,Yes,Primary,12,Able to read whole sentence,Not at all,Not at all,Less than once a week,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,25,Yes,9,4,Yes,4,3,Yes,No,7,2013,No,No,No,No,No,"Yes, currently married","Yes, (More than one)",NaN,NaN,12,1984,18,No,Days ago,3,No,Wife,Yes,10,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,No,No,Yes,Yes,No,NaN,NaN,No,No,Yes,16,No,Yes,No,Yes,16,0,4,1,NaN,NaN,10,NaN,1,2,Rural,Mashonaland West,50-54,24,Currently married/in union,20,7,-1.109107,1,27

In [45]:
# Check age at first sexual intercourse

raw2["Age at first sexual intercourse"].describe()

count    9007.000000
mean       17.607639
std        15.771067
min         0.000000
25%        15.000000
50%        18.000000
75%        20.000000
max        99.000000
Name: Age at first sexual intercourse, dtype: float64

In [46]:
raw2["Age at first sexual intercourse"].value_counts()

18    1893
0     1837
20     794
19     623
17     606
16     479
22     403
21     371
15     341
25     274
23     268
95     257
24     233
14     128
26     112
27      69
28      65
13      59
30      41
29      38
12      34
10      21
32      14
11       7
8        6
31       5
36       5
99       4
9        4
35       3
39       2
34       2
37       2
41       2
33       2
47       1
40       1
38       1
Name: Age at first sexual intercourse, dtype: int64

In [47]:
raw2[raw2["Age at first sexual intercourse"] > 50]

,Cluster number,Household number,Line number,Cluster number,Household number,Man's line number,Interviewer number,Day of interview,Month of interview,Year of interview,Result of man's interview,Field editor,Data entry clerk,Start of interview - Hour,Start of interview - Minutes,End of interview - Hour,End of interview - Minutes,Month of birth of man,Year of birth of man,Age of man,Ever attended school,Highest level of school attended,Highest grade completed at that level,Can read part of the sentence,Frequency of reading newspaper or magazine,Frequency of listening to the radio,Frequency of watching TV,Ever used a computer,Computer usage in the last 12 months,Ever used internet,Internet usage in the last 12 months,Frequency of Internet usage in the past month,Ever used a mobile or non-mobile phone,Mobile or non-mobile phone usage in the last 12 months,Frequency of mobile or non-mobile usage in the past month,Ever fathered any children with any women,Age when first child was born,Any sons or daughters living with you,Sons living with you,Daughters living with you,Any sons or daughters not living with you,Sons living elsewhere,Daughters living elsewhere,Ever had child who later died,Same biological mother,Month of last birth,Year of last birth,If she goes out with out telling husband: wife beating justified,If she neglects the children: wife beating justified,If she argues with husband: wife beating justified,If she refuses sex with husband: wife beating justified,If she burns the food: wife beating justified,Currently married or living with a man,Haveing other wives or liveing with other women as if you are married,Ever married or lived with a woman,Married or lived with a woman once or more than once,Month of first union,Year of first union,Age at first sexual intercourse,Condom used during first sexual intercourse,Time since last sexual intercourse (unit),Time since last sexual intercourse (number),Condom used at last sexual intercourse,Relationship to last sexual partner,Sex with any other person in the last 12 month,Number of sex partners in lifetime,Ever heard of AIDS,Can avoid AIDS virus by having one uninfected partner,Can get AIDS virus through supernatural means,Can avoid AIDS virus by using a condom correctly every time,Can get AIDS virus from mosquito bites,Can get AIDS virus by sharing food with a person who has AIDS,Healthy-looking person may have AIDS virus,AIDS virus from mother to child during pregnancy,AIDS virus from mother to child during delivery,AIDS virus from mother to child through breastfeeding,Should female teacher with AIDS virus be allowed to teach in school,Would buy fresh vegetables from shopkeeper with AIDS virus,"If HH member became infected with AIDS virus, would want it to remain a secret",Willing to care for person with AIDS in household,Ever been tested for AIDS virus,Most recent time of testing for AIDS virus,Received results of AIDS virus test,Know a place to get AIDS virus test,Respondent is circumcised,Ever tried cigarette smoking,Age when cigarette was smoked for the first time,Currently smoking cigarettes,Ever tried any smoked tobacco products other than cigarettes,Ever tried any form of smokeless tobacco products,Ever drunk alcohol,Age when alcohol was used for the first time,Number of days when at least one drink of alcohol was used in past month,Number of drinks usually consumed,Net number,Mosquito net observed,Brand/type of observed net,Months ago net obtained,Persons slept under mosquito net last night,Person 1 who slept under net,Person 2 who slept under net,Area,Region,Age,Age at first marriage/union,Marital/Union status,Children surviving,Children dead,Wealth index score,Wealth index quintiles,Children ever born
52,4,23,1,4,23,1,9,11,4,2014,Completed,7,9,10,3,10,17,11,1979,34,Yes,Higher,30,NaN,Almost every day,Less than once a week,Almost every day,Yes,Yes,Yes,Yes,Almost every day,Yes,Yes,Almost every day,Yes,28,Yes,0,2,No,1,1,No,Yes,9,2009,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,98,2006,95,Yes,Days ago,3,No,Wife,No,4,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,12-23 months ago,Yes,NaN,No,Yes,16,No,No,No,Yes,16,0,4,1,NaN,NaN,10,NaN,1,2,Urban,Bulawayo,30-34,27,Currently married/in union,2,0,1.676119,5,2
99,7,23,1,7,23,1,14,6,4,2014,Completed,2,34,18,2,18,11,11,1967,46,Yes,Higher,31,NaN,Almost every day,Not at all,Almost every day,Yes,Yes,Yes,Yes,Almost every day,Yes,Yes,Almost every day,Yes,33,Yes,0,3,No,1,1,No,Yes,11,2003,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,8,1999,95,No,Special,99,Missing,Missing,No,1,Yes,Yes,No,Yes,DK,No,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Less than 12 months ago,Yes,NaN,No,No,19,NaN,No,No,No,20,1,4,1,NaN,NaN,10,NaN,1,2,Urban,Bulawayo,45-49,31,Currently married/in union,3,0,1.941256,5,3
600,46,16,1,46,16,1,14,4,3,2014,Completed,2,4,9,52,10,2,7,1974,39,Yes,Secondary,24,NaN,At least once a week,Almost every day,At least once a week,Yes,Yes,Yes,Yes,At least once a week,Yes,Yes,Almost every day,Yes,31,Yes,1,1,No,1,1,No,Yes,2,2010,Yes,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,2,2004,95,No,Weeks ago,2,No,Wife,No,1,Yes,Yes,No,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,Yes,15,Yes,No,No,Yes,15,0,4,1,Observed,Other long-lasting treated net,4,Yes,1,3,Urban,Bulawayo,35-39,29,Currently married/in union,2,0,1.539790,5,2
637,50,6,1,50,6,1,11,14,3,2014,Completed,2,29,9,52,10,8,9,1978,35,Yes,Primary,17,Cannot read at all,NaN,At least once a week,Not at all,No,NaN,No,NaN,NaN,Yes,Yes,Less than once a week,Yes,35,Yes,2,0,No,1,1,No,Yes,99,9999,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,98,9998,95,Yes,Days ago,3,No,Wife,No,1,Yes,Yes,No,Yes,No,No,Yes,No,No,No,Yes,Yes,No,Yes,Yes,2 or more years ago,Yes,NaN,No,No,19,NaN,Yes,No,Yes,21,7,2,1,NaN,NaN,10,NaN,1,2,Urban,Bulawayo,35-39,31,Currently married/in union,2,0,0.838663,4,2
639,50,14,1,50,14,1,11,17,3,2014,Completed,2,29,17,40,17,59,2,1975,39,Yes,Secondary,24,NaN,At least once a week,Not at all,Almost every day,Yes,Yes,Yes,No,NaN,Yes,Yes,Almost every day,Yes,23,Yes,1,2,No,1,1,No,Yes,11,2010,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,98,1998,99,Yes,Days ago,3,No,Wife,No,98,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,12-23 months ago,Yes,NaN,Yes,Yes,99,No,No,No,Yes,30,0,4,1,NaN,NaN,10,NaN,1,2,Urban,Bulawayo,35-39,23,Currently married/in union,3,0,1.836513,5,3
719,56,17,1,56,17,1,124,4,4,2014,Completed,102,40,8,49,9,17,3,1967,47,Yes,Primary,17,Able to read whole sentence,Less than once a week,Not at all,Not at all,No,NaN,No,NaN,NaN,Yes,Yes,Not at all,Yes,20,Yes,0,3,Yes,0,1,Yes,Yes,7,2012,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Missing,98,1985,95,No,Months ago,5,No,Wife,No,1,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,2 or more years ago,Yes,NaN,No,No,19,NaN,No,No,Yes,0,1,4,1,NaN,NaN,10,NaN,1,2,Rural,Manicaland,45-49,18,Currently married/in union,4,1,-0.666012,3,5
722,57,1,1,57,1,1,121,30,3,2014,Completed,102,39,17,40,17,51,6,1980,33,Yes,Higher,31,NaN,Less than once a week,Almost every day,Not at all,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,27,Yes,0,1,Yes,0,1,No,Yes,5,2011,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,8,2006,95,No,Weeks ago,1,No,Wife,No,1,Yes,Yes,No,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes,No,Yes,Yes,12-23 months ago,Yes,NaN,No,Yes,20,No,No,No,Yes,19,0,4,1,NaN,NaN,10,NaN,1,2,Rural,Manicaland,30-34,26,Currently married/in union,2,0,-0.347189,3,2
730,57,14,1,57,14,1,120,30,3,2014,Completed,102,39,11,58,12,12,9,1986,27,Yes,Secondary,24,NaN,Not at all,Less than once a week,Not at all,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,23,Yes,0,2,No,1,1,No,Yes,11,2013,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,10,2008,95,No,Weeks ago,1,Yes,Wife,No,1,Yes,Yes,No,No,No,No,Yes,DK,No,Yes,Yes,Yes,No,Yes,No,NaN,NaN,Yes,No,No,19,NaN,No,No,Yes,0,1,4,1,NaN,NaN,10,NaN,1,2,Rural,Manicaland,25-29,22,Currently married/in union,2,0,-0.861029,2,2
733,57,20,1,57,20,1,124,31,3,2014,Completed,102,39,8,59,9,17,2,1992,22,Yes,Secondary,22,NaN,Less than once a week,Almost every day,Not at all,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,No,24,NaN,1,1,NaN,1,1,No,NaN,7,2011,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,6,2013,95,No,Days ago,0,No,Wife,No,1,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,Yes,21,No,No,No,Yes,20,0,4,1,NaN,NaN,10,NaN,1,2,Rural,Manicaland,20-24,21,Currently married/in union,0,0,-0.415005,3,0
743,58,14,1,58,14,1,124,27,3,2014,Completed,102,16,11,52,12,9,1,1976,38,Yes,Secondary,24,NaN,Not at all,At least once a week,Not at all,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,26,Yes,1,3,No,1,1,No,Yes,3,2012,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,9,2000,95,No,Days ago,2,No,Wife,No,1,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,No,NaN,NaN,Yes,No,No,19,NaN,No,No,No,20,1,4,1,Observed,Dawa,5,Yes,1,2,Rural,Manicaland,35-39,24,Currently married/in union,4,0,-0.612775,3,4
765,60,3,2,60,3,2,120,18,3,2014,Completed,102,41,13,30,13,47,9,1989,24,Yes,Secondary,23,NaN,Not at all,At least once a week,At least once a week,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,21,Yes,1,0,No,1,1,No,Yes,10,2010,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,12,2009,95,No,Days ago,0,No,Wife,No,1,Yes,Yes,No,Yes,DK,No,Yes,Yes,DK,DK,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,No,19,NaN,No,No,Yes,18,0,4,2,Observed,Dawa,4,Yes,2,3,Rural,Manicaland,20-24,20,Currently married/in union,1,0,-0.850837,2,1
781,61,8,1,61,8,1,120,17,3,2014,Completed,102,13,13,28,13,48,12,1960,53,Yes,Secondary,24,NaN,Not at all,At least once a week,At least once a week,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,31,Yes,1,3,Yes,1,1,Yes,Yes,8,2006,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,2,1989,95,No,Days ago,1,No,Wife,No,2,Yes,Yes,No,Yes,DK,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,No,NaN,NaN,Yes,No,Yes,20,Yes,Yes,Yes,Yes,20,10,3,2,Not observed,Dawa,5,Yes,1,2,Rural,Manicaland,50-54,28,Currently married/in union,6,1,-0.518415,3,7
863,68,9,1,68,9,1,109,6,4,2014,Completed,103,33,10,30,10,40,8,1981,32,Yes,Secondary,21,NaN,Not at all,At least once a week,At least once a week,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,29,Yes,0,2,No,1,1,No,Yes,11,2012,No,Yes,Yes,Yes,No,"Yes, currently married",No (Only one),NaN,Only once,8,2009,95,No,Days ago,0,No,Wife,No,2,Yes,Yes,No,Yes,No,No,Yes,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Less than 12 months ago,Yes,NaN,No,Yes,27,No,No,No,Yes,26,0,4,1,NaN,NaN,10,NaN,1,2,Rural,Manicaland,30-34,28,Currently married/in union,2,0,-0.479876,3,2
958,75,18,1,75,18,1,118,9,3,2014,Completed,103,4,10,24,10,36,3,1977,37,Yes,Secondary,22,NaN,Not at all,Less than once a week,Not at all,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,24,Yes,1,4,No,1,1,No,Yes,7,2011,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,3,1998,95,No,Days ago,0,No,Wife,No,1,Yes,Yes,No,Yes,No,No,Yes,Yes,No,No,Yes,Yes,Yes,Yes,No,NaN,NaN,Yes,No,Yes,25,Yes,Yes,No,Yes,25,3,4,1,Observed,Interceptor,24,Yes,1,2,Rural,Manicaland,35-39,21,Currently married/in union,5,0,-0.654033,3,5
1041,82,25,1,82,25,1,122,3,3,2014,Completed,103,16,9,10,9,30,6,1986,27,Yes,Secondary,21,NaN,At least once a week,Almost every day,Not at all,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,25,Yes,1,0,No,1,1,No,Yes,5,2011,No,No,Yes,No,No,"Yes, currently married",No (Only one),NaN,Only once,8,2008,95,No,Days ago,1,No,Wife,Yes,2,Yes,Yes,No,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,No,Yes,No,NaN,NaN,Yes,No,Yes,20,Yes,No,No,Yes,20,1,2,1,Observed,Interceptor,11,Yes,1,2,Rural,Manicaland,25-29,22,Currently married/in union,1,0,-0.293635,3,1
1305,105,18,1,105,18,1,113,25,3,2014,Completed,101,22,15,44,15,58,5,1975,38,Yes,Secondary,24,NaN,Almost every day,Almost every day,Not at all,No,NaN,Yes,Yes,At least once a week,Yes,Yes,Almost every day,Yes,31,Yes,1,0,No,1,1,No,Yes,6,2007,No,No,Yes,No,No,"Yes, currently married",No (Only one),NaN,Only once,8,2004,95,No,Days ago,2,No,Wife,No,1,Yes,Yes,No,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes,No,Yes,No,NaN,NaN,No,No,No,19,NaN,No,No,No,20,1,4,1,Observed,Interceptor,6,Yes,1,2,Rural,Manicaland,35-39,29,Currently married/in union,1,0,-0.493825,3,1
1388,112,17,2,112,17,2,112,3,3,2014,Completed,107,9,9,33,9,52,5,1977,36,Yes,Primary,17,Able to read whole sentence,Not at all,At least once a week,Not at all,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,25,Yes,0,1,Yes,0,1,Yes,Yes,2,2009,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,12,2002,95,No,Days ago,2,No,Wife,No,2,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,No,NaN,NaN,Yes,No,No,19,NaN,No,No,Yes,22,0,4,1,NaN,NaN,10,NaN,1,2,Rural,Manicaland,35-39,25,Currently married/in union,2,1,-0.772507,2,3
1404,113,20,1,113,20,1,125,1,3,2014,Completed,104,19,10,42,11,6,6,1961,52,Yes,Primary,16,Able to read whole sentence,Not at all,At least once a week,Less than once a week,No,NaN,No,NaN,NaN,Yes,Yes,At least once a week,Yes,19,Yes,3,3,Yes,3,0,Yes,No,12,2012,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,More than once,8,1977,95,No,Days ago,0,No,Wife,No,5,Yes,Yes,No,Yes,Yes,No,Yes,Yes,Yes,No,No,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,Yes,Yes,20,Yes,Yes,No,Yes,20,2,3,1,NaN,NaN,10,NaN,1,2,Rural,Manicaland,50-54,16,Currently married/in union,9,4,-1.171429,1,13
1460,118,22,5,118,22,5,114,2,3,2014,Completed,103,38,16,0,16,22,6,1993,20,Yes,Primary,17,Cannot read at all,NaN,Less than once a week,Almost every day,No,NaN,No,NaN,NaN,Yes,Yes,At least once a week,No,24,NaN,1,1,NaN,1,1,No,NaN,7,2011,No,No,No,No,No,"No, not in union",NaN,"Yes, formerly married",Only once,2,2012,95,No,Year ago,2,NaN,NaN,NaN,1,Yes,Yes,No,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,Yes,14,Yes,No,No,Yes,14,7,3,1,NaN,NaN,10,NaN,1,2,Urban,Manicaland,20-24,18,Formerly married/in union,0,0,0.796096,4,0
1475,120,6,1,120,6,1,113,3,4,2014,Completed,101,7,6,47,6,59,2,1976,38,Yes,Secondary,24,NaN,Almost every day,Almost every day,Almost every day,Yes,Yes,Yes,Yes,Almost every day,Yes,Yes,Almost every day,Yes,28,Yes,1,2,No,1,1,No,Yes,4,2012,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,8,2002,95,No,Days ago,0,No,Wife,No,1,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,Yes,18,No,Yes,No,Yes,18,0,4,1,NaN,NaN,10,NaN,1,2,Urban,Manicaland,35-39,26,Currently married/in union,3,0,1.334698,5,3
1509,122,10,1,122,10,1,126,29,3,2014,Completed,101,24,16,52,17,20,12,1968,45,Yes,Secondary,24,NaN,Almost every day,Almost every day,Almost every day,Yes,Missing,No,NaN,NaN,Yes,Yes,Almost every day,Yes,27,Yes,2,1,Yes,0,2,Yes,Yes,7,2008,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,1,1994,95,No,Days ago,3,No,Wife,No,1,Yes,Yes,No,Yes,Yes,No,Yes,Yes,Yes,Yes,No,No,No,Yes,Yes,2 or more years ago,Yes,NaN,No,No,19,NaN,No,No,Yes,20,8,6,1,NaN,NaN,10,NaN,1,2,Urban,Manicaland,45-49,25,Currently married/in union,5,1,1.312484,5,6
1510,122,13,1,122,13,1,113,29,3,2014,Completed,101,24,17,15,17,32,7,1967,46,Yes,Secondary,24,NaN,Almost every day,Not at all,Almost every day,Yes,Yes,Yes,No,NaN,Yes,Yes,Almost every day,Yes,31,Yes,0,3,No,1,1,No,Yes,2,2006,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,12,1997,95,No,Days ago,3,No,Wife,No,1,Yes,Yes,No,Yes,No,No,Yes,DK,DK,DK,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,No,19,NaN,No,No,No,20,1,4,1,NaN,NaN,10,NaN,1,2,Urban,Manicaland,45-49,30,Currently married/in union,3,0,1.731124,5,3
1519,123,12,1,123,12,1,113,6,4,2014,Completed,101,29,14,40,14,56,11,1970,43,Yes,Higher,31,NaN,Less than once a week,Almost every day,Almost every day,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,29,Yes,2,2,No,1,1,No,Yes,7,2008,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,11,1997,95,No,Days ago,2,No,Wife,No,1,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,DK / Not sure / Depends,Yes,No,Yes,Yes,12-23 months ago,Yes,NaN,No,No,19,NaN,No,No,No,20,1,4,1,Observed,Olyset,95,Yes,1,2,Urban,Manicaland,40-44,27,Currently married/in union,4,0,1.432040,5,4
1715,138,19,2,138,19,2,218,29,3,2014,Completed,201,7,15,20,15,39,3,1974,40,Yes,Primary,17,Able to read whole sentence,Not at all,Not at all,Less than once a week,No,NaN,No,NaN,NaN,Yes,Yes,Less than once a week,Yes,16,Yes,2,3,Yes,1,2,Yes,No,1,2014,Yes,Yes,No,No,No,"Yes, currently married","Yes, (More than one)",NaN,NaN,99,9998,95,No,Days ago,1,No,Wife,Yes,3,Yes,Yes,No,No,Yes,No,Yes,Yes,Yes,DK,Yes,Yes,Yes,No,No,NaN,NaN,No,No,Yes,11,No,No,No,Yes,12,0,4,1,NaN,NaN,10,NaN,1,2,Rural,Mashonaland Central,40-44,16,Currently married/in union,8,3,-1.160776,1,11
1741,140,3,1,140,3,1,211,4,4,2014,Completed,202,11,18,40,19,10,10,1975,38,Yes,Secondary,21,NaN,Not at all,Almost every day,Not at all,No,NaN,No,NaN,NaN,Yes,Yes,Less than once a week,Yes,18,Yes,3,1,No,1,1,No,Yes,2,2009,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,8,1993,95,No,Days ago,2,Yes,Wife,No,2,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,Yes,30,Yes,Yes,No,Yes,30,0,4,1,Observed,Interceptor,24,Yes,1,2,Rural,Mashonaland Central,35-39,17,Currently married/in union,4,0,-0.877550,2,4
1759,141,15,1,141,15,1,211,3,4,2014,Completed,202,3,11,2,11,24,1,1970,44,Yes,Primary,17,Able to read whole sentence,Not at all,Not at all,Not at all,No,NaN,No,NaN,NaN,Yes,Yes,At least once a week,Yes,25,Yes,3,2,Yes,0,1,No,Yes,5,2012,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,7,1995,95,No,Days ago,2,No,Wife,No,1,Yes,Yes,No,Yes,No,No,Yes,Yes,No,DK,Yes,Yes,No,Yes,No,NaN,NaN,Yes,No,Yes,21,No,No,No,Yes,21,0,4,1,NaN,NaN,10,NaN,1,2,Rural,Mashonaland Central,40-44,25,Currently married/in union,6,0,-0.930304,2,6
2316,178,23,3,178,23,3,214,27,2,2014,Completed,203,23,17,49,18,0,7,1995,18,Yes,Secondary,23,NaN,Not at all,Almost every day,Less than once a week,No,NaN,No,NaN,NaN,Yes,No,NaN,No,24,NaN,1,1,NaN,1,1,No,NaN,7,2011,No,No,Yes,No,No,"No, not in union",NaN,No,NaN,8,2003,99,Yes,Months ago,2,Yes,Girlfriend,No,1,Yes,Yes,Yes,Yes,DK,No,Yes,Yes,DK,Yes,DK / Not sure / Depends,Yes,Yes,Yes,Yes,Less than 12 months ago,Yes,NaN,No,No,19,NaN,No,No,No,20,1,4,3,Not observed,Permanent,9,Yes,3,5,Rural,Mashonaland Central,15-19,23,Never married/in union,0,0,-0.934648,2,0
2321,179,8,1,179,8,1,220,25,2,2014,Completed,203,20,17,0,17,35,1,1973,41,Yes,Primary,17,Able to read only parts of sentence,Less than once a week,Less than once a week,Less than once a week,No,NaN,No,NaN,NaN,No,NaN,NaN,Yes,35,No,1,1,Yes,0,1,Yes,No,11,2005,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,More than once,6,1990,95,No,Days ago,3,No,Wife,No,3,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,No,NaN,NaN,Yes,No,No,19,NaN,No,No,Yes,25,0,4,1,NaN,NaN,10,NaN,1,2,Rural,Mashonaland Central,40-44,17,Currently married/in union,1,1,-0.702028,2,2
2434,187,7,1,187,7,1,220,5,4,2014,Completed,203,23,12,11,12,26,12,1967,46,Yes,Secondary,22,NaN,Less than once a week,Almost every day,Not at all,No,NaN,No,NaN,NaN,Yes,Yes,Not at all,Yes,17,Yes,3,1,Yes,3,1,Yes,No,12,2013,No,No,Yes,No,No,"Yes, currently married",No (Only one),NaN,More than once,10,1984,95,No,Days ago,4,No,Wife,No,10,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,Yes,Yes,21,Yes,Yes,No,Yes,21,0,4,1,Observed,Permanent,19,Yes,1,2,Rural,Mashonaland Central,45-49,16,Currently married/in union,8,1,-0.710566,2,9

There are a lot of values stating the individual was 95 during their first intercourse. These values are incorrect but instead of dropping them, we should replace them with the median.

In [48]:
raw2["Age at first sexual intercourse"].median()

18.0

In [49]:
# Replace values where Age at first sexual intercourse is over 90 to be the median value
raw2.loc[raw2['Age at first sexual intercourse'] > 50] = raw2["Age at first sexual intercourse"].median()

# Replace values where Age at first sexual intercourse is 0 to be the mean value
raw2.loc[raw2['Age at first sexual intercourse'] == 0] = raw2["Age at first sexual intercourse"].mean()

In [50]:
# Check values for Time since last sexual intercourse
raw2["Time since last sexual intercourse (unit)"].value_counts()

Days ago              3044
15.374597535250361    1837
Months ago            1293
Weeks ago             1046
Year ago               428
18.0                   261
Special                  4
Name: Time since last sexual intercourse (unit), dtype: int64

In [51]:
# Replace 18 with Weeks ago
raw2.loc[raw2["Time since last sexual intercourse (unit)"] == 18.0] = "Weeks ago"

In [52]:
# Replace 15 with Weeks ago
raw2.loc[raw2["Time since last sexual intercourse (unit)"] == 15.374597535250361] = "Weeks ago"

In [53]:
# Check values for Time since last sexual intercourse
raw2["Time since last sexual intercourse (unit)"].value_counts()

Weeks ago     3144
Days ago      3044
Months ago    1293
Year ago       428
Special          4
Name: Time since last sexual intercourse (unit), dtype: int64

In [54]:
raw2.head()

,Cluster number,Household number,Line number,Cluster number,Household number,Man's line number,Interviewer number,Day of interview,Month of interview,Year of interview,Result of man's interview,Field editor,Data entry clerk,Start of interview - Hour,Start of interview - Minutes,End of interview - Hour,End of interview - Minutes,Month of birth of man,Year of birth of man,Age of man,Ever attended school,Highest level of school attended,Highest grade completed at that level,Can read part of the sentence,Frequency of reading newspaper or magazine,Frequency of listening to the radio,Frequency of watching TV,Ever used a computer,Computer usage in the last 12 months,Ever used internet,Internet usage in the last 12 months,Frequency of Internet usage in the past month,Ever used a mobile or non-mobile phone,Mobile or non-mobile phone usage in the last 12 months,Frequency of mobile or non-mobile usage in the past month,Ever fathered any children with any women,Age when first child was born,Any sons or daughters living with you,Sons living with you,Daughters living with you,Any sons or daughters not living with you,Sons living elsewhere,Daughters living elsewhere,Ever had child who later died,Same biological mother,Month of last birth,Year of last birth,If she goes out with out telling husband: wife beating justified,If she neglects the children: wife beating justified,If she argues with husband: wife beating justified,If she refuses sex with husband: wife beating justified,If she burns the food: wife beating justified,Currently married or living with a man,Haveing other wives or liveing with other women as if you are married,Ever married or lived with a woman,Married or lived with a woman once or more than once,Month of first union,Year of first union,Age at first sexual intercourse,Condom used during first sexual intercourse,Time since last sexual intercourse (unit),Time since last sexual intercourse (number),Condom used at last sexual intercourse,Relationship to last sexual partner,Sex with any other person in the last 12 month,Number of sex partners in lifetime,Ever heard of AIDS,Can avoid AIDS virus by having one uninfected partner,Can get AIDS virus through supernatural means,Can avoid AIDS virus by using a condom correctly every time,Can get AIDS virus from mosquito bites,Can get AIDS virus by sharing food with a person who has AIDS,Healthy-looking person may have AIDS virus,AIDS virus from mother to child during pregnancy,AIDS virus from mother to child during delivery,AIDS virus from mother to child through breastfeeding,Should female teacher with AIDS virus be allowed to teach in school,Would buy fresh vegetables from shopkeeper with AIDS virus,"If HH member became infected with AIDS virus, would want it to remain a secret",Willing to care for person with AIDS in household,Ever been tested for AIDS virus,Most recent time of testing for AIDS virus,Received results of AIDS virus test,Know a place to get AIDS virus test,Respondent is circumcised,Ever tried cigarette smoking,Age when cigarette was smoked for the first time,Currently smoking cigarettes,Ever tried any smoked tobacco products other than cigarettes,Ever tried any form of smokeless tobacco products,Ever drunk alcohol,Age when alcohol was used for the first time,Number of days when at least one drink of alcohol was used in past month,Number of drinks usually consumed,Net number,Mosquito net observed,Brand/type of observed net,Months ago net obtained,Persons slept under mosquito net last night,Person 1 who slept under net,Person 2 who slept under net,Area,Region,Age,Age at first marriage/union,Marital/Union status,Children surviving,Children dead,Wealth index score,Wealth index quintiles,Children ever born
0,1,17,1,1,17,1,14,7,4,2014,Completed,2,20,17,59,18,7,5,1984,29,Yes,Higher,31,NaN,Almost every day,At least once a week,Less than once a week,Yes,Yes,Yes,Yes,Almost every day,Yes,Yes,Almost every day,No,24,NaN,1,1,NaN,1,1,No,NaN,7,2011,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,9,2013,20,Yes,Days ago,0,No,Wife,No,5,Yes,Yes,No,Yes,No,No,Yes,DK,Yes,DK,Yes,Yes,No,Yes,Yes,Less than 12 months ago,Yes,NaN,No,No,19,NaN,No,No,Yes,16,0,4,1,NaN,NaN,10,NaN,1,2,Urban,Bulawayo,25-29,29,Currently married/in union,0,0,1.60367,5,0
1,1,20,1,1,20,1,14,7,4,2014,Completed,2,20,17,32,17,42,5,1976,37,Yes,Higher,31,NaN,At least once a week,Not at all,Almost every day,Yes,Yes,Yes,Yes,Almost every day,Yes,Yes,Almost every day,No,24,NaN,1,1,NaN,1,1,No,NaN,7,2011,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,Only once,2,2014,37,No,Days ago,0,No,Wife,No,1,Yes,Yes,No,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes,Yes,No,Yes,Less than 12 months ago,Yes,NaN,No,No,19,NaN,No,No,No,20,1,4,1,NaN,NaN,10,NaN,1,2,Urban,Bulawayo,35-39,37,Currently married/in union,0,0,1.54328,5,0
2,2,1,1,2,1,1,9,8,4,2014,Completed,1,40,10,37,10,52,2,1973,41,Yes,Primary,17,Able to read whole sentence,Not at all,Almost every day,Less than once a week,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,Yes,21,Yes,1,1,Yes,1,0,No,No,5,2012,No,No,No,No,No,"Yes, currently married",No (Only one),NaN,More than once,8,1991,20,No,Days ago,0,Yes,Wife,No,5,Yes,Yes,No,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Yes,Yes,2 or more years ago,Yes,NaN,No,Yes,18,Yes,Yes,No,Yes,19,8,2,1,NaN,NaN,10,NaN,1,2,Urban,Bulawayo,40-44,18,Currently married/in union,3,0,0.878635,4,3
3,2,1,5,2,1,5,9,12,4,2014,Not at home,1,40,12,29,12,29,6,1986,28,NaN,NaN,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN,1,1,NaN,1,1,NaN,NaN,7,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2003,18,NaN,NaN,2,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,20,1,4,1,NaN,NaN,10,NaN,1,2,Urban,Bulawayo,NaN,23,NaN,1,0,0,0,1
4,2,1,8,2,1,8,9,8,4,2014,Completed,1,40,10,53,11,10,2,1993,21,Yes,Secondary,24,NaN,Less than once a week,At least once a week,Less than once a week,No,NaN,No,NaN,NaN,Yes,Yes,Almost every day,No,24,NaN,1,1,NaN,1,1,No,NaN,7,2011,No,No,No,No,No,"No, not in union",NaN,No,NaN,8,2003,19,Yes,Months ago,7,Yes,Girlfriend,No,3,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,12-23 months ago,Yes,NaN,No,No,19,NaN,No,No,Yes,20,10,2,1,NaN,NaN,10,NaN,1,2,Urban,Bulawayo,20-24,23,Never married/in union,0,0,0.878635,4,0

In [55]:
raw2.shape

(9007, 111)

There are over 100 columns in this data set and needs a lot of tidying up. A better approach would be to fully remove columns that are not vital to the data question we are trying to analyze and focus on the columns left that need a proper clean.